@charset "UTF-8";
/**
 * Globals */
@font-face {
  font-family: "Keyrune";
  src: url("../fonts/keyrune.eot?v=3.15.0");
  src: url("../fonts/keyrune.eot?#iefix&v=3.15.0") format("embedded-opentype"), url("../fonts/keyrune.woff2?v=3.15.0") format("woff2"), url("../fonts/keyrune.woff?v=3.15.0") format("woff"), url("../fonts/keyrune.ttf?v=3.15.0") format("truetype"), url("../fonts/keyrune.svg?v=3.15.0#keyrune") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**
 * Sets */
.ss {
  display: inline-block;
  font: normal normal normal 14px "Keyrune";
  font-size: inherit;
  line-height: 1em;
  text-rendering: auto;
  transform: translate(0, 0);
  speak: none;
  text-transform: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}
.ss:before {
  content: "\e684";
}
.ss-lea:before { /* Alpha */
  content: "\e600";
}
.ss-leb:before { /* Beta */
  content: "\e601";
}
.ss-2ed:before { /* Unlimited */
  content: "\e602";
}
.ss-3ed:before { /* Revised */
  content: "\e603";
}
.ss-4ed:before { /* 4th Edition */
  content: "\e604";
}
.ss-psum:before { /* Summer Magic */
  content: "\e605";
}
.ss-5ed:before { /* 5th Edition */
  content: "\e606";
}
.ss-6ed:before { /* 6th Edition */
  content: "\e607";
}
.ss-7ed:before { /* 7th Edition */
  content: "\e608";
}
.ss-8ed:before { /* 8th Edition */
  content: "\e609";
}
.ss-9ed:before { /* 9th Edition */
  content: "\e60a";
}
.ss-10e:before { /* 10th Edition */
  content: "\e60b";
}
.ss-m10:before { /* Magic 2010 */
  content: "\e60c";
}
.ss-m11:before { /* Magic 2011 */
  content: "\e60d";
}
.ss-m12:before { /* Magic 2012 */
  content: "\e60e";
}
.ss-m13:before { /* Magic 2013 */
  content: "\e60f";
}
.ss-m14:before { /* Magic 2014 */
  content: "\e610";
}
.ss-m15:before { /* Magic 2015 */
  content: "\e611";
}
.ss-bcore:before { /* Core background */
  content: "\e612";
}
.ss-ori:before { /* Magic Origins */
  content: "\e697";
}
.ss-m19:before { /* Magic 2019 */
  content: "\e941";
}
.ss-m20:before { /* Magic 2020 */
  content: "\e95d";
}
.ss-1e:before { /* Alpha (MODO) */
  content: "\e947";
}
.ss-2e:before { /* Beta (MODO) */
  content: "\e948";
}
.ss-2u:before { /* Unlimited (MODO) */
  content: "\e949";
}
.ss-3e:before { /* Revised (MODO) */
  content: "\e94a";
}
.ss-m21:before { /* Core 2021 */
  content: "\e960";
}
.ss-xdnd:before { /* Adventures in the Forgotten Realms */
  content: "\e972";
}
.ss-afr:before { /* Adventures in the Forgotten Realms */
  content: "\e972";
}
.ss-arn:before { /* Arabian Nights */
  content: "\e613";
}
.ss-atq:before { /* Antiquities */
  content: "\e614";
}
.ss-leg:before { /* Legends */
  content: "\e615";
}
.ss-drk:before { /* The Dark */
  content: "\e616";
}
.ss-fem:before { /* Fallen Empires */
  content: "\e617";
}
.ss-hml:before { /* Homelands */
  content: "\e618";
}
.ss-ice:before { /* Ice Age */
  content: "\e619";
}
.ss-ice2:before { /* Ice Age (Original) */
  content: "\e925";
}
.ss-all:before { /* Alliances */
  content: "\e61a";
}
.ss-csp:before { /* Coldsnap */
  content: "\e61b";
}
.ss-mir:before { /* Mirage */
  content: "\e61c";
}
.ss-vis:before { /* Visions */
  content: "\e61d";
}
.ss-wth:before { /* Weatherlight */
  content: "\e61e";
}
.ss-tmp:before { /* Tempest */
  content: "\e61f";
}
.ss-sth:before { /* Stronghold */
  content: "\e620";
}
.ss-exo:before { /* Exodus */
  content: "\e621";
}
.ss-usg:before { /* Urza's Saga */
  content: "\e622";
}
.ss-ulg:before { /* Urza's Legacy */
  content: "\e623";
}
.ss-uds:before { /* Urza's Destiny */
  content: "\e624";
}
.ss-mmq:before { /* Mercadian Masque */
  content: "\e625";
}
.ss-nem:before { /* Nemesis */
  content: "\e626";
}
.ss-nms:before { /* Nemesis */
  content: "\e626";
}
.ss-pcy:before { /* Prophecy */
  content: "\e627";
}
.ss-inv:before { /* Invasion */
  content: "\e628";
}
.ss-pls:before { /* Planeshift */
  content: "\e629";
}
.ss-apc:before { /* Apocalypse */
  content: "\e62a";
}
.ss-ody:before { /* Odyssey */
  content: "\e62b";
}
.ss-tor:before { /* Torment */
  content: "\e62c";
}
.ss-jud:before { /* Judgement */
  content: "\e62d";
}
.ss-ons:before { /* Onslaught */
  content: "\e62e";
}
.ss-lgn:before { /* Legions */
  content: "\e62f";
}
.ss-scg:before { /* Scourge */
  content: "\e630";
}
.ss-mrd:before { /* Mirrodin */
  content: "\e631";
}
.ss-dst:before { /* Darksteel */
  content: "\e632";
}
.ss-5dn:before { /* 5th Dawn */
  content: "\e633";
}
.ss-chk:before { /* Champions of Kamigawa */
  content: "\e634";
}
.ss-bok:before { /* Betrayers of Kamigawa */
  content: "\e635";
}
.ss-sok:before { /* Saviors of Kamigawa */
  content: "\e636";
}
.ss-rav:before { /* Ravnica */
  content: "\e637";
}
.ss-gpt:before { /* Guildpact */
  content: "\e638";
}
.ss-dis:before { /* Dissension */
  content: "\e639";
}
.ss-tsp:before { /* Time Spiral */
  content: "\e63a";
}
.ss-plc:before { /* Planeshift */
  content: "\e63b";
}
.ss-fut:before { /* Future Sight */
  content: "\e63c";
}
.ss-lrw:before { /* Lorwyn */
  content: "\e63d";
}
.ss-mor:before { /* Morningtide */
  content: "\e63e";
}
.ss-shm:before { /* Shadowmoor */
  content: "\e63f";
}
.ss-eve:before { /* Eventide */
  content: "\e640";
}
.ss-ala:before { /* Shards of Alara */
  content: "\e641";
}
.ss-con:before { /* Conflux */
  content: "\e642";
}
.ss-arb:before { /* Alara Reborn */
  content: "\e643";
}
.ss-zen:before { /* Zendikar */
  content: "\e644";
}
.ss-wwk:before { /* Worldwake */
  content: "\e645";
}
.ss-roe:before { /* Rise of Eldrazi */
  content: "\e646";
}
.ss-som:before { /* Scars of Mirrodin */
  content: "\e647";
}
.ss-mbs:before { /* Mirrodin Besieged */
  content: "\e648";
}
.ss-nph:before { /* New Phyrexia */
  content: "\e649";
}
.ss-isd:before { /* Innistrad */
  content: "\e64a";
}
.ss-dka:before { /* Dark Ascension */
  content: "\e64b";
}
.ss-avr:before { /* Avacyn Restored */
  content: "\e64c";
}
.ss-rtr:before { /* Return to Ravnica */
  content: "\e64d";
}
.ss-gtc:before { /* Gatecrash */
  content: "\e64e";
}
.ss-dgm:before { /* Dragon's Maze */
  content: "\e64f";
}
.ss-ths:before { /* Theros */
  content: "\e650";
}
.ss-bng:before { /* Born of the Gods */
  content: "\e651";
}
.ss-jou:before { /* Journey into Nyx */
  content: "\e652";
}
.ss-ktk:before { /* Khans of Tarkir */
  content: "\e653";
}
.ss-frf:before { /* Fate Reforged */
  content: "\e654";
}
.ss-dtk:before { /* Dragons of Tarkir */
  content: "\e693";
}
.ss-bfz:before { /* Battle for Zendikar */
  content: "\e699";
}
.ss-ogw:before { /* Oath of the Gatewatch */
  content: "\e901";
}
.ss-soi:before { /* Shadows Over Innistrad */
  content: "\e902";
}
.ss-emn:before { /* Eldritch Moon */
  content: "\e90b";
}
.ss-kld:before { /* Kaladesh */
  content: "\e90e";
}
.ss-aer:before { /* Aether Revolt */
  content: "\e90f";
}
.ss-akh:before { /* Amonkhet */
  content: "\e914";
}
.ss-hou:before { /* Hour of Devastation */
  content: "\e924";
}
.ss-xln:before { /* Ixalan */
  content: "\e92e";
}
.ss-rix:before { /* Rivals of Ixalan */
  content: "\e92f";
}
.ss-dom:before { /* Dominaria */
  content: "\e93f";
}
.ss-grn:before { /* Guilds of Ravnica */
  content: "\e94b";
}
.ss-gk1:before { /* GRN Guild Kits */
  content: "\e94b";
}
.ss-rna:before { /* Ravnica Allegiance */
  content: "\e959";
}
.ss-gk2:before { /* RNA Guild Kits */
  content: "\e959";
}
.ss-war:before { /* War of the Spark */
  content: "\e95a";
}
.ss-eld:before { /* Throne of Eldraine */
  content: "\e95e";
}
.ss-thb:before { /* Theros: Beyond Death */
  content: "\e961";
}
.ss-iko:before { /* Ikoria: Lair of Behemoths */
  content: "\e962";
}
.ss-znr:before { /* Zendikar Rising */
  content: "\e963";
}
.ss-khm:before { /* Kaldheim */
  content: "\e974";
}
.ss-stx:before { /* Strixhaven: School of Mages */
  content: "\e975";
}
.ss-mid:before { /* Innistrad: Midnight Hunt */
  content: "\e978";
}
.ss-vow:before { /* Innistrad: Crimson Vow */
  content: "\e977";
}
.ss-neo:before { /* Kamigawa: Neon Dynasty */
  content: "\e98c";
}
.ss-snc:before { /* Streets of New Capenna */
  content: "\e98b";
}
.ss-dmu:before { /* Dominaria United */
  content: "\e993";
}
.ss-bro:before { /* The Brothers' War */
  content: "\e99d";
}
.ss-one:before { /* Phyrexia: All Will Be One */
  content: "\e9a1";
}
.ss-mom:before { /* March of the Machine */
  content: "\e9a2";
}
.ss-mat:before { /* March of the Machine: The Aftermath */
  content: "\e9a3";
}
.ss-woe:before { /* Wilds of Eldraine */
  content: "\e9ae";
}
.ss-lci:before { /* Lost Caverns of Ixalan */
  content: "\e9c2";
}
.ss-mkm:before { /* Murders at Karlov Manor */
  content: "\e9c9";
}
.ss-otj:before { /* Outlaws of Thunder Junction */
  content: "\e9cc";
}
.ss-blb:before { /* Bloomburrow */
  content: "\e9cd";
}
.ss-dsk:before { /* Duskmourn: House of Horror */
  content: "🌅";
}
.ss-van:before { /* Vanguard */
  content: "\e655";
}
.ss-hop:before { /* Planechase 2009 */
  content: "\e656";
}
.ss-arc:before { /* Archenemy */
  content: "\e657";
}
.ss-cmd:before { /* Commander */
  content: "\e658";
}
.ss-pc2:before { /* Planechase 2012 */
  content: "\e659";
}
.ss-cm1:before { /* Commander's Arsenal */
  content: "\e65a";
}
.ss-c13:before { /* Commander 2013 */
  content: "\e65b";
}
.ss-cns:before { /* Conspiracy */
  content: "\e65c";
}
.ss-c14:before { /* Commander 2014 */
  content: "\e65d";
}
.ss-c15:before { /* Commander 2015 */
  content: "\e900";
}
.ss-cn2:before { /* Conspiracy 2, Take */
  content: "\e904";
}
.ss-c16:before { /* Commander 2016 */
  content: "\e910";
}
.ss-pca:before { /* Planechase Anthology */
  content: "\e911";
}
.ss-cma:before { /* Commander Anthology */
  content: "\e916";
}
.ss-e01:before { /* Archenemy: Nicol Bolas */
  content: "\e92d";
}
.ss-ann:before { /* Archenemy: Nicol Bolas */
  content: "\e92d";
}
.ss-e02:before { /* Explorers of Ixalan */
  content: "\e931";
}
.ss-c17:before { /* Commander 2017 */
  content: "\e934";
}
.ss-cm2:before { /* Commander Anthology 2 */
  content: "\e940";
}
.ss-bbd:before { /* Battlebond */
  content: "\e942";
}
.ss-c18:before { /* Commander 2018 */
  content: "\e946";
}
.ss-c19:before { /* Commander 2019 */
  content: "\e95f";
}
.ss-c20:before { /* Ikoria: Commander 2020 */
  content: "\e966";
}
.ss-znc:before { /* Zendikar Rising: Commander Decks */
  content: "\e967";
}
.ss-cc1:before { /* Commander Collection: Green */
  content: "\e968";
}
.ss-cmr:before { /* Commander Legends */
  content: "\e969";
}
.ss-cmc:before { /* Commander Legends Decks */
  content: "\e969";
}
.ss-khc:before { /* Kaldheim Commander */
  content: "\e97d";
}
.ss-c21:before { /* Commander 2021 */
  content: "\e97e";
}
.ss-afc:before { /* Forgotten Realms Commander */
  content: "\e981";
}
.ss-mic:before { /* Innistrad: Midnight Hunt Commander */
  content: "\e985";
}
.ss-voc:before { /* Innistrad: Crimson Vow Commander */
  content: "\e986";
}
.ss-cc2:before { /* Commander Collection: Black */
  content: "\e987";
}
.ss-nec:before { /* Kamigawa: Neon Dynasty Commander */
  content: "\e98d";
}
.ss-ncc:before { /* Streets of New Capenna Commander */
  content: "\e98e";
}
.ss-clb:before { /* Commander Legends: Battle for Baldur's Gate */
  content: "\e991";
}
.ss-dmc:before { /* Dominaria United Commander */
  content: "\e994";
}
.ss-40k:before { /* Warhammer 40K */
  content: "\e998";
}
.ss-brc:before { /* The Brothers' War Commander */
  content: "\e99f";
}
.ss-onc:before { /* Phyrexia: All Will Be One Commander */
  content: "\e9a8";
}
.ss-moc:before { /* March of the Machines Commander */
  content: "\e9a9";
}
.ss-scd:before { /* Starter Commander Decks */
  content: "\e9ab";
}
.ss-cmm:before { /* Commander Masters */
  content: "\e9b5";
}
.ss-ltc:before { /* The Lord of the Rings: Tales of Middle-Earth Commander */
  content: "\e9b6";
}
.ss-woc:before { /* Wilds of Eldraine Commander */
  content: "\e9b9";
}
.ss-lcc:before { /* Lost Caverns of Ixalan Commander */
  content: "\e9c7";
}
.ss-mkc:before { /* Murders at Karlov Manor Commander */
  content: "\e9ca";
}
.ss-otc:before { /* Outlaws of Thunder Junction Commander */
  content: "\e9d2";
}
.ss-blc:before { /* Bloomburrow Commander */
  content: "\e9d4";
}
.ss-m3c:before { /* Modern Horizons 3 Commander */
  content: "\e9d0";
}
.ss-chr:before { /* Chronicles */
  content: "\e65e";
}
.ss-ath:before { /* Anthologies */
  content: "\e65f";
}
.ss-brb:before { /* Battle Royale */
  content: "\e660";
}
.ss-btd:before { /* Beatdown */
  content: "\e661";
}
.ss-dkm:before { /* Deckmasters */
  content: "\e662";
}
.ss-mma:before { /* Modern Masters */
  content: "\e663";
}
.ss-mm2:before { /* Modern Masters 2015 */
  content: "\e695";
}
.ss-ema:before { /* Eternal Masters */
  content: "\e903";
}
.ss-mm3:before { /* Modern Masters 2017 */
  content: "\e912";
}
.ss-xren:before { /* Renaissance */
  content: "\e917";
}
.ss-xrin:before { /* Rinascimento */
  content: "\e918";
}
.ss-ima:before { /* Iconic Masters */
  content: "\e935";
}
.ss-a25:before { /* Masters 25 */
  content: "\e93d";
}
.ss-uma:before { /* Ultimate Masters */
  content: "\e958";
}
.ss-mh1:before { /* Modern Horizons */
  content: "\e95b";
}
.ss-2xm:before { /* Double Masters */
  content: "\e96e";
}
.ss-jmp:before { /* Jumpstart */
  content: "\e96f";
}
.ss-mb1:before { /* Mystery Booster */
  content: "\e971";
}
.ss-mh2:before { /* Modern Horizons 2 */
  content: "\e97b";
}
.ss-sta:before { /* Strixhaven: Mystical Archives */
  content: "\e980";
}
.ss-j21:before { /* Jumpstart: Historic Horizons */
  content: "\e983";
}
.ss-2x2:before { /* Double Masters 2022 */
  content: "\e99c";
}
.ss-brr:before { /* The Brothers' War Retro Artifacts */
  content: "\e9a0";
}
.ss-j22:before { /* Jumpstart 2022 */
  content: "\e9ad";
}
.ss-mul:before { /* Multiverse Legends */
  content: "\e9ba";
}
.ss-wot:before { /* Wilds of Eldraine Enchanting Tales */
  content: "\e9c0";
}
.ss-br:before { /* Battle Royale (alternate) */
  content: "\e9c1";
}
.ss-spg:before { /* Special Guests */
  content: "\e9c8";
}
.ss-otp:before { /* Breaking News */
  content: "\e9d5";
}
.ss-big:before { /* The Big Score */
  content: "\e9d6";
}
.ss-h2r:before { /* Modern Horizons 2 Timeshifts */
  content: "\e97b";
}
.ss-por:before { /* Portal */
  content: "\e664";
}
.ss-p02:before { /* Portal 2 */
  content: "\e665";
}
.ss-po2:before { /* Portal 2 */
  content: "\e665";
}
.ss-ptk:before { /* Portal 3 Kingdoms */
  content: "\e666";
}
.ss-s99:before { /* Starter 1999 */
  content: "\e667";
}
.ss-s00:before { /* Starter 2000 */
  content: "\e668";
}
.ss-w16:before { /* Welcome Deck 2016 */
  content: "\e907";
}
.ss-w17:before { /* Welcome Deck 2017 */
  content: "\e923";
}
.ss-evg:before { /* Elves vs. Goblins */
  content: "\e669";
}
.ss-dd2:before { /* Jace vs. Chandra */
  content: "\e66a";
}
.ss-ddc:before { /* Divine vs. Demonic */
  content: "\e66b";
}
.ss-ddd:before { /* Garruk vs. Liliana */
  content: "\e66c";
}
.ss-dde:before { /* Phyrexia vs. */
  content: "\e66d";
}
.ss-ddf:before { /* Elspeth vs. */
  content: "\e66e";
}
.ss-ddg:before { /* Knights vs. Dragons */
  content: "\e66f";
}
.ss-ddh:before { /* Ajani vs. Nicol */
  content: "\e670";
}
.ss-ddi:before { /* Venser vs. Koth */
  content: "\e671";
}
.ss-ddj:before { /* Izzet vs. Golgari */
  content: "\e672";
}
.ss-ddk:before { /* Sorin vs. Tibalt */
  content: "\e673";
}
.ss-ddl:before { /* Heroes vs. Monsters */
  content: "\e674";
}
.ss-ddm:before { /* Jace vs. Vraska */
  content: "\e675";
}
.ss-ddn:before { /* Speed vs. Cunning */
  content: "\e676";
}
.ss-ddo:before { /* Kiora vs. Elspeth */
  content: "\e677";
}
.ss-ddp:before { /* Zendikar vs. */
  content: "\e698";
}
.ss-ddq:before { /* Blessed vs. Cursed */
  content: "\e908";
}
.ss-ddr:before { /* Nissa vs. Ob Nixilis */
  content: "\e90d";
}
.ss-td2:before { /* New Phyrexia vs. Mirrodin Pure */
  content: "\e91c";
}
.ss-dds:before { /* Mind vs. Might */
  content: "\e921";
}
.ss-ddt:before { /* Merfolk vs. Goblins */
  content: "\e933";
}
.ss-ddu:before { /* Elves vs. Inventors */
  content: "\e93e";
}
.ss-drb:before { /* Dragons */
  content: "\e678";
}
.ss-v09:before { /* Exiled */
  content: "\e679";
}
.ss-v10:before { /* Relics */
  content: "\e67a";
}
.ss-v11:before { /* Legends */
  content: "\e67b";
}
.ss-v12:before { /* Realms */
  content: "\e67c";
}
.ss-v13:before { /* Twenty */
  content: "\e67d";
}
.ss-v14:before { /* Annihilation */
  content: "\e67e";
}
.ss-v15:before { /* Angels */
  content: "\e905";
}
.ss-v16:before { /* Lore */
  content: "\e906";
}
.ss-v0x:before { /* Vaults */
  content: "\e920";
}
.ss-v17:before { /* Transform */
  content: "\e939";
}
.ss-h09:before { /* Slivers */
  content: "\e67f";
}
.ss-pd2:before { /* Fire & Lightning */
  content: "\e680";
}
.ss-pd3:before { /* Graveborn */
  content: "\e681";
}
.ss-md1:before { /* Modern Event Deck */
  content: "\e682";
}
.ss-ss1:before { /* Jace */
  content: "\e944";
}
.ss-ss2:before { /* Gideon */
  content: "\e95c";
}
.ss-ss3:before { /* Chandra */
  content: "\e96d";
}
.ss-gs1:before { /* Jiang Yanggu & Mu Yanling */
  content: "\e945";
}
.ss-azorius:before { /* Azorius */
  content: "\e94e";
}
.ss-boros:before { /* Boros */
  content: "\e94f";
}
.ss-dimir:before { /* Dimir */
  content: "\e950";
}
.ss-golgari:before { /* Golgari */
  content: "\e951";
}
.ss-gruul:before { /* Gruul */
  content: "\e952";
}
.ss-izzet:before { /* Izzet */
  content: "\e953";
}
.ss-orzhov:before { /* Orzhov */
  content: "\e954";
}
.ss-rakdos:before { /* Rakdos */
  content: "\e955";
}
.ss-selesnya:before { /* Selesnya */
  content: "\e956";
}
.ss-simic:before { /* Simic */
  content: "\e957";
}
.ss-gnt:before { /* Game Night */
  content: "\e94d";
}
.ss-gn2:before { /* Game Night 2019 */
  content: "\e964";
}
.ss-tsr:before { /* Time Spiral Remastered */
  content: "\e976";
}
.ss-dmr:before { /* Dominaria Remastered */
  content: "\e9a4";
}
.ss-gn3:before { /* Game Night: Free for All */
  content: "\e9a5";
}
.ss-ltr:before { /* The Lord of the Rings: Tales of Middle-Earth */
  content: "\e9af";
}
.ss-who:before { /* Universes Beyond: Doctor Who */
  content: "\e9b0";
}
.ss-rvr:before { /* Ravnica Remastered */
  content: "\e9bb";
}
.ss-pip:before { /* Universes Beyond: Fallout */
  content: "\e9c3";
}
.ss-clu:before { /* Ravnica: Clue Edition */
  content: "\e9cb";
}
.ss-acr:before { /* Universes Beyond: Assassin's Creed */
  content: "\e9ce";
}
.ss-mh3:before { /* Modern Horizons 3 */
  content: "\e9cf";
}
.ss-pgru:before { /* Guru */
  content: "\e683";
}
.ss-pmtg1:before { /* Magic symbol */
  content: "\e684";
}
.ss-pmtg2:before { /* Magic symbol */
  content: "\e685";
}
.ss-pleaf:before { /* Leaf */
  content: "\e686";
}
.ss-pmei:before { /* Media Insert */
  content: "\e687";
}
.ss-parl:before { /* DCI (Arena) */
  content: "\e688";
}
.ss-dpa:before { /* Dragons */
  content: "\e689";
}
.ss-pbook:before { /* Book Insert */
  content: "\e68a";
}
.ss-past:before { /* Astral */
  content: "\e68b";
}
.ss-parl2:before { /* Arena logo */
  content: "\e68c";
}
.ss-exp:before { /* Zendikar */
  content: "\e69a";
}
.ss-psalvat05:before { /* Salvat 2005 */
  content: "\e909";
}
.ss-psalvat11:before { /* Salvat 2011 */
  content: "\e90a";
}
.ss-mp1:before { /* Kaladesh Inventions */
  content: "\e913";
}
.ss-mps:before { /* Kaladesh Inventions */
  content: "\e913";
}
.ss-pxbox:before { /* Xbox Media Promo */
  content: "\e915";
}
.ss-pmps:before { /* Magic Premiere Shop */
  content: "\e919";
}
.ss-pmpu:before { /* Mirrodin Pure */
  content: "\e91a";
}
.ss-mp2:before { /* Amonkhet Invocations */
  content: "\e922";
}
.ss-pidw:before { /* IDW Promo */
  content: "\e92c";
}
.ss-pdrc:before { /* Dragon*Con Promo */
  content: "\e932";
}
.ss-pheart:before { /* Phoenix Heart Celebration */
  content: "\e936";
}
.ss-h17:before { /* HasCon 2017 */
  content: "\e938";
}
.ss-pdep:before { /* Duelist Extra Pulled */
  content: "\e93a";
}
.ss-psega:before { /* Sega Dreamcast */
  content: "\e93b";
}
.ss-ptsa:before { /* The Sorcerer's Apprentice */
  content: "\e93c";
}
.ss-parl3:before { /* Arena (MTGO) */
  content: "\e943";
}
.ss-htr:before { /* Heroes of the Realm 2016 */
  content: "\e687";
}
.ss-med:before { /* Mythic Edition */
  content: "\e94c";
}
.ss-ptg:before { /* Ponies: the Galloping */
  content: "\e965";
}
.ss-htr17:before { /* Heroes of the Realm 2017 */
  content: "\e687";
}
.ss-j20:before { /* Judge Academy 2020 */
  content: "\e96a";
}
.ss-zne:before { /* Zendikar Rising Expeditions */
  content: "\e97a";
}
.ss-bot:before { /* The Brothers' War Transformers */
  content: "\e99e";
}
.ss-rex:before { /* Jurassic World */
  content: "\e9c4";
}
.ss-slu:before { /* Secret Lair: Ultimate Edition */
  content: "\e687";
}
.ss-sld:before { /* Secret Lair Drop */
  content: "\e687";
}
.ss-psld:before { /* Secret Lair Drop Promos */
  content: "\e687";
}
.ss-sld2:before { /* Secret Lair Logo */
  content: "\e9bc";
}
.ss-me1:before { /* Masters Edition */
  content: "\e68d";
}
.ss-me2:before { /* Masters Edition II */
  content: "\e68e";
}
.ss-me3:before { /* Masters Edition III */
  content: "\e68f";
}
.ss-me4:before { /* Masters Edition IV */
  content: "\e690";
}
.ss-tpr:before { /* Tempest Remastered */
  content: "\e694";
}
.ss-vma:before { /* Vintage Masters */
  content: "\e696";
}
.ss-xlcu:before { /* Legendary Cube */
  content: "\e90c";
}
.ss-pz1:before { /* Legendary Cube */
  content: "\e90c";
}
.ss-modo:before { /* Magic Online */
  content: "\e91b";
}
.ss-pmodo:before { /* Magic Online */
  content: "\e91b";
}
.ss-duels:before { /* Magic Duels */
  content: "\e91d";
}
.ss-xduels:before { /* Magic Duels */
  content: "\e91d";
}
.ss-xmods:before { /* Magic Online Deck Series */
  content: "\e91e";
}
.ss-pz2:before { /* Treasure Chests */
  content: "\e91f";
}
.ss-ha1:before { /* Historic Anthology 1 */
  content: "\e96b";
}
.ss-akr:before { /* Amonkhet Remastered */
  content: "\e970";
}
.ss-klr:before { /* Kaladesh Remastered */
  content: "\e97c";
}
.ss-y22:before { /* Alchemy 2022 */
  content: "\e989";
}
.ss-hbg:before { /* Alchemy Horizons: Baldur's Gate */
  content: "\e9a6";
}
.ss-ydmu:before { /* Alchemy: Dominaria */
  content: "\e9a7";
}
.ss-sir:before { /* Shadows Over Innistrad */
  content: "\e9b1";
}
.ss-sis:before { /* Shadows of the Past */
  content: "\e9b2";
}
.ss-ea1:before { /* Explorer Anthology 1 */
  content: "\e9b4";
}
.ss-ugl:before { /* Unglued */
  content: "\e691";
}
.ss-unh:before { /* Unhinged */
  content: "\e692";
}
.ss-ust:before { /* Unstable */
  content: "\e930";
}
.ss-und:before { /* Unsanctioned */
  content: "\e96c";
}
.ss-unf:before { /* Unfinity */
  content: "\e98a";
}
.ss-una:before { /* Unfinity Acorns */
  content: "\e9be";
}
.ss-xcle:before { /* Collector's Edition */
  content: "\e926";
}
.ss-xice:before { /* International Collector's Edition */
  content: "\e927";
}
.ss-x2ps:before { /* Two Player Introductory Set */
  content: "\e928";
}
.ss-x4ea:before { /* Alternate 4th Edition */
  content: "\e929";
}
.ss-papac:before { /* APAC Lands */
  content: "\e92a";
}
.ss-peuro:before { /* Euro Lands */
  content: "\e92b";
}
.ss-pfnm:before { /* Friday Night Magic */
  content: "\e937";
}
.ss-30a:before { /* 30th Anniversary Edition */
  content: "\e9aa";
}

/**
 * Rarities */
/* common */
.ss.ss-common {
  color: #1a1718;
}
.ss.ss-common.ss-grad {
  /* Chrome, Safari4+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #302b2c), color-stop(50%, #474040), color-stop(100%, #302b2c));
  /* Chrome10+, Safari5.1+ */
  background: -webkit-linear-gradient(left, #302b2c 0%, #474040 50%, #302b2c 100%);
  -webkit-text-stroke: 0.03em #000;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.ss.ss-common.ss-grad.ss-no-border, .ss.ss-common.ss-grad.ss-duo {
  -webkit-text-stroke: 0;
}
.ss.ss-common.ss-grad.ss-duo::after {
  -webkit-text-fill-color: inherit;
}

/* uncommon */
.ss.ss-uncommon {
  color: #707883;
}
.ss.ss-uncommon.ss-grad {
  /* Chrome, Safari4+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #5a6572), color-stop(50%, #9e9e9e), color-stop(100%, #5a6572));
  /* Chrome10+, Safari5.1+ */
  background: -webkit-linear-gradient(left, #5a6572 0%, #9e9e9e 50%, #5a6572 100%);
  -webkit-text-stroke: 0.03em #111;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.ss.ss-uncommon.ss-grad.ss-no-border, .ss.ss-uncommon.ss-grad.ss-duo {
  -webkit-text-stroke: 0;
}
.ss.ss-uncommon.ss-grad.ss-duo::after {
  -webkit-text-fill-color: inherit;
}

/* rare */
.ss.ss-rare {
  color: #a58e4a;
}
.ss.ss-rare.ss-grad {
  /* Chrome, Safari4+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #876a3b), color-stop(50%, #dfbd6b), color-stop(100%, #876a3b));
  /* Chrome10+, Safari5.1+ */
  background: -webkit-linear-gradient(left, #876a3b 0%, #dfbd6b 50%, #876a3b 100%);
  -webkit-text-stroke: 0.03em #333;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.ss.ss-rare.ss-grad.ss-no-border, .ss.ss-rare.ss-grad.ss-duo {
  -webkit-text-stroke: 0;
}
.ss.ss-rare.ss-grad.ss-duo::after {
  -webkit-text-fill-color: inherit;
}

/* mythic */
.ss.ss-mythic {
  color: #bf4427;
}
.ss.ss-mythic.ss-grad {
  /* Chrome, Safari4+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #b21f0f), color-stop(50%, #f38300), color-stop(100%, #b21f0f));
  /* Chrome10+, Safari5.1+ */
  background: -webkit-linear-gradient(left, #b21f0f 0%, #f38300 50%, #b21f0f 100%);
  -webkit-text-stroke: 0.03em #333;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.ss.ss-mythic.ss-grad.ss-no-border, .ss.ss-mythic.ss-grad.ss-duo {
  -webkit-text-stroke: 0;
}
.ss.ss-mythic.ss-grad.ss-duo::after {
  -webkit-text-fill-color: inherit;
}

/* timeshifted */
.ss.ss-timeshifted {
  color: #652978;
}
.ss.ss-timeshifted.ss-grad {
  /* Chrome, Safari4+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #652978), color-stop(50%, #c09ac5), color-stop(100%, #652978));
  /* Chrome10+, Safari5.1+ */
  background: -webkit-linear-gradient(left, #652978 0%, #c09ac5 50%, #652978 100%);
  -webkit-text-stroke: 0.03em #333;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.ss.ss-timeshifted.ss-grad.ss-no-border, .ss.ss-timeshifted.ss-grad.ss-duo {
  -webkit-text-stroke: 0;
}
.ss.ss-timeshifted.ss-grad.ss-duo::after {
  -webkit-text-fill-color: inherit;
}

.ss-foil {
  color: #a6dced;
}
.ss-foil.ss-grad {
  background: -webkit-linear-gradient(-45deg, #ea8d66 0%, #ea8d66 10%, #fdef8a 17%, #8bcc93 33%, #a6dced 50%, #6f75aa 67%, #e599c2 83%, #eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ea8d66 0%, #ea8d66 15%, #fdef8a 28%, #8bcc93 42%, #a6dced 55%, #6f75aa 68%, #e599c2 84%, #e599c2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-text-stroke: 0.03em #333;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.ss-foil.ss-grad.ss-no-border, .ss-foil.ss-grad.ss-duo {
  -webkit-text-stroke: 0;
}
.ss-foil.ss-grad.ss-duo::after {
  -webkit-text-fill-color: inherit;
}

/**
 * Sizes */
.ss.ss-2x {
  font-size: 2em;
}

.ss.ss-3x {
  font-size: 3em;
}

.ss.ss-4x {
  font-size: 4em;
}

.ss.ss-5x {
  font-size: 5em;
}

.ss.ss-6x {
  font-size: 6em;
}

/**
 * Fixed width */
.ss.ss-fw {
  width: calc(18em / 14);
  text-align: center;
}

/**
 * Force no border */
.ss.ss-no-border {
  -webkit-text-stroke: 0;
  text-stroke: 0;
}

/**
 * Icon borders */
.ss.ss-border:after {
  content: "";
  position: absolute;
  left: -0.05em;
  top: 0em;
  z-index: -1;
  color: #fff;
  font-size: 1.15em;
  background: #fff;
  -webkit-text-stroke: 0.05em #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ss.ss-border.ss-van:after { /* Vanguard */
  content: "\e655";
}
.ss.ss-border.ss-arc:after { /* Archenemy */
  content: "\e657";
}
.ss.ss-border.ss-cmd:after { /* Commander */
  content: "\e658";
}
.ss.ss-border.ss-cm1:after { /* Commander's Arsenal */
  content: "\e65a";
}
.ss.ss-border.ss-c13:after { /* Commander 2013 */
  content: "\e65b";
}
.ss.ss-border.ss-c14:after { /* Commander 2014 */
  content: "\e65d";
}
.ss.ss-border.ss-c15:after { /* Commander 2015 */
  content: "\e900";
}
.ss.ss-border.ss-hop:after { /* Planechase 2009 */
  content: "\e656";
}
.ss.ss-border.ss-pc2:after { /* Planechase 2012 */
  content: "\e659";
}
.ss.ss-border.ss-cns:after { /* Conspiracy */
  content: "\e65c";
}
.ss.ss-border.ss-sis:after { /* Shadows of the Past */
  content: "\e9b2";
}
.ss.ss-border.ss-sis::before {
  content: "\e9b3";
}

/**
 * Dual-layered symbols */
.ss.ss-duo::after {
  color: #000;
  content: "";
  display: block;
  font-size: 1em;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.ss.ss-duo {
  color: #fff;
}
.ss.ss-duo.ss-40k::after {
  content: "\e99b";
}
.ss.ss-duo.ss-afc::after {
  content: "\e982";
}
.ss.ss-duo.ss-afr::after {
  content: "\e973";
}
.ss.ss-duo.ss-c21::after {
  content: "\e97f";
}
.ss.ss-duo.ss-clb::after {
  content: "\e992";
}
.ss.ss-duo.ss-cc2::after {
  content: "\e988";
}
.ss.ss-duo.ss-dmc::after {
  content: "\e997";
}
.ss.ss-duo.ss-j21::after {
  content: "\e984";
}
.ss.ss-duo.ss-khc::after {
  content: "\e9c6";
}
.ss.ss-duo.ss-ltc::after {
  content: "\e9b8";
}
.ss.ss-duo.ss-m3c::after {
  content: "\e9d1";
}
.ss.ss-duo.ss-mid::after {
  content: "\e979";
}
.ss.ss-duo.ss-otc::after {
  content: "\e9d3";
}
.ss.ss-duo.ss-ncc::after {
  content: "\e990";
}
.ss.ss-duo.ss-scd::after {
  content: "\e9ac";
}
.ss.ss-duo.ss-una::after {
  content: "\e9bf";
}
.ss.ss-duo.ss-ncc::before {
  content: "\e98f";
}
.ss.ss-duo.ss-40k::before {
  content: "\e999";
}
.ss.ss-duo.ss-dmc::before {
  content: "\e995";
}
.ss.ss-duo.ss-khc::before {
  content: "\e9c5";
}
.ss.ss-duo.ss-ltc::before {
  content: "\e9b7";
}
.ss.ss-duo.ss-common {
  color: #fff;
}
.ss.ss-duo.ss-uncommon::after, .ss.ss-duo.ss-rare::after, .ss.ss-duo.ss-mythic::after {
  color: #000;
}

/*# sourceMappingURL=keyrune.css.map */
