/**
 * 
 * Border layer using ::after as well
 * 
 * Symbols cannot have both .duo and .border applied as both 
 * make use of the same pseudoelement in v3.
 * 
 * For duo icons that have an inner white layer as well as a 
 * border layer, we need to use all 3 available pseudoelements.
 */

.@{ss-prefix}-border {
    &::before {
        paint-order: stroke fill;
        -webkit-text-stroke: 0.1em #000;
    }

    &.@{ss-prefix}-common::before {
        -webkit-text-stroke: 0.1em #fff;
    }

    /**
     * specific border glyphs for these sets, handled via ::after
     */
    &.@{ss-prefix}-40k,
    &.@{ss-prefix}-arc,
    &.@{ss-prefix}-c13,
    &.@{ss-prefix}-c14,
    &.@{ss-prefix}-c15,
    &.@{ss-prefix}-c16,
    &.@{ss-prefix}-cm1,
    &.@{ss-prefix}-cmd,
    &.@{ss-prefix}-cns,
    &.@{ss-prefix}-dft,
    &.@{ss-prefix}-dmc,
    &.@{ss-prefix}-drc,
    &.@{ss-prefix}-dsc,
    &.@{ss-prefix}-ecc,
    &.@{ss-prefix}-ecl,
    &.@{ss-prefix}-eos,
    &.@{ss-prefix}-fin,
    &.@{ss-prefix}-hop,
    &.@{ss-prefix}-inr,
    &.@{ss-prefix}-j25,
    &.@{ss-prefix}-om1,
    &.@{ss-prefix}-omb,
    &.@{ss-prefix}-pc2,
    &.@{ss-prefix}-pza,
    &.@{ss-prefix}-sis,
    &.@{ss-prefix}-tce,
    &.@{ss-prefix}-tdm,
    &.@{ss-prefix}-tla,
    &.@{ss-prefix}-tle,
    &.@{ss-prefix}-tmc,
    &.@{ss-prefix}-tmt,
    &.@{ss-prefix}-van {
        &::before {
            -webkit-text-stroke: 0 !important;
        }

        &:not(.ss-duo) {
            &::after {
                color: #fff;
                display: block;
                font-size: 1em;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }

            // all non-common rarities get a black border
            &.@{ss-prefix}-uncommon::after,
            &.@{ss-prefix}-rare::after,
            &.@{ss-prefix}-mythic::after,
            &.@{ss-prefix}-timeshifted::after,
            &.@{ss-prefix}-foil::after {
                color: #000;
            }
        }
    }

    // glyphs per set
    //
    &.@{ss-prefix}-40k { // experimental ::marker for 3 layer icons
        display: list-item;
        list-style-position: inside;

        &::before {
            position: absolute;
            left: 0;
            top: 0;
        }
        &::marker {
            content: @ss-glyph-40k-border;
            color: #000;
        }
    }
    &.@{ss-prefix}-arc:after { content: @ss-glyph-arc-border; } // Archenemy
    &.@{ss-prefix}-c13:after { content: @ss-glyph-c13-border; } // Commander 2013
    &.@{ss-prefix}-c14:after { content: @ss-glyph-c14-border; } // Commander 2014
    &.@{ss-prefix}-c15:after { content: @ss-glyph-c15-border; } // Commander 2015
    &.@{ss-prefix}-c16 { // c16: regular symbol becomes the border
        &::before {
            content: @ss-glyph-c16-rarity; // rarity
        }
        &::after {
            content: @ss-glyph-c16-border; // new border
        }
    }
    &.@{ss-prefix}-cm1:after { content: @ss-glyph-cm1-border; } // Commander's Arsenal
    &.@{ss-prefix}-cmd:after { content: @ss-glyph-cmd-border; } // Commander
    &.@{ss-prefix}-cns:after { content: @ss-glyph-cns-border; } // Conspiracy
    &.@{ss-prefix}-dft { // dft: regular symbol becomes the border
        &::before {
            content: @ss-glyph-dft-rarity; // rarity
        }
        &::after {
            content: @ss-glyph-dft-border; // new border
        }
    }
    &.@{ss-prefix}-dmc { 
        display: list-item;
        list-style-position: inside;

        &::before {
            position: absolute;
            left: 0;
            top: 0;
        }
        &::marker {
            content: @ss-glyph-dmc-border;
            color: #000;
        }
    }
    &.@{ss-prefix}-drc { 
        display: list-item;
        list-style-position: inside;

        &::before {
            position: absolute;
            left: 0;
            top: 0;
        }
        &::marker {
            content: @ss-glyph-drc-border;
            color: #000;
        }
    }
    &.@{ss-prefix}-dsc { // experimental ::marker for 3 layer icons
        display: list-item;
        list-style-position: inside;

        &.@{ss-prefix}-fw {
            text-align: revert !important; // not sure why we have to remove center
        }

        &::before {
            position: absolute;
            left: 0;
            top: 0;
        }
        &::marker {
            content: @ss-glyph-dsc-border;
            color: #000;
        }
    }
    &.@{ss-prefix}-ecc { // 3 layers, rarity glyph changes here as well
        display: list-item;
        list-style-position: inside;

        &.@{ss-prefix}-fw {
            text-align: revert !important; // not sure why we have to remove center
        }

        &::before { // new rarity
            content: @ss-glyph-ecc-rarity;
            position: absolute;
            left: 0;
            top: 0;
        }
        &::marker { // border
            content: @ss-glyph-ecc-border;
            color: #000;
        }
        // ::after is in duo
    }
    &.@{ss-prefix}-ecl:after { content: @ss-glyph-ecl-border; } // Lorwyn Eclipsed
    &.@{ss-prefix}-eos { // regular symbol becomes the border
        &::before {
            content: @ss-glyph-eos-rarity; // rarity
        }
        &::after {
            content: @ss-glyph-eos-border; // new border
        }
    }
    &.@{ss-prefix}-fin { // fin needs a new rarity for the border glyph
        &::before {
            content: @ss-glyph-fin-rarity; // rarity
        }
        &::after {
            content: @ss-glyph-fin-border; // border
        }
    }
    &.@{ss-prefix}-hop:after { content: @ss-glyph-hop-border; } // Planechase 2009
    &.@{ss-prefix}-inr:after { content: @ss-glyph-inr-border; } // Innistrad Remastered
    &.@{ss-prefix}-j25 { // j25: regular symbol becomes the border
        &::before {
            content: @ss-glyph-j25-rarity; // rarity
        }
        &::after {
            content: @ss-glyph-j25-border; // new border (the display/alt version)
        }
    }
    &.@{ss-prefix}-om1 { // rarity becomes the border
        &::before {
            content: @ss-glyph-om1-rarity; // rarity (old border)
        }
        &::after {
            content: @ss-glyph-om1-border; // border
        }
    }
    &.@{ss-prefix}-omb { // rarity becomes the border
        &::before {
            content: @ss-glyph-omb-rarity; // rarity (old border)
        }
        &::after {
            content: @ss-glyph-omb-border; // border
        }
    }
    &.@{ss-prefix}-pc2:after { content: @ss-glyph-pc2-border; } // Planechase 2012
    &.@{ss-prefix}-pza:after { content: @ss-glyph-pza-border; } // TMT Source Material
    &.@{ss-prefix}-sis { // SIS: the regular symbol becomes the border now
        &::before {
            content: @ss-glyph-sis-rarity;
        }
        &::after {
            content: @ss-glyph-sis-border;
        }
    }
    &.@{ss-prefix}-tdm:after { content: @ss-glyph-tdm-border; } // Tarkir Dragonstorm
    &.@{ss-prefix}-tla { // experimental ::marker for 3 layer icons
        display: list-item;
        list-style-position: inside;

        &::before {
            position: absolute;
            left: 50%;
            top: 0;
            translate: -50%;
        }
        &.@{ss-prefix}-fw {
            text-align: revert !important; // not sure why we have to remove center

            &::before {
                left: 0;
                translate: 0;
            }
        }
        &::marker { // border
            content: @ss-glyph-tla-border;
            color: #000;
        }
    }
    &.@{ss-prefix}-tle { // rarity gets a new glyph; using marker because inner duo
        display: list-item;
        list-style-position: inside;

        &.@{ss-prefix}-fw {
            text-align: revert !important; // not sure why we have to remove center
        }

        &::before { // new rarity
            content: @ss-glyph-tle-rarity;
            position: absolute;
            left: 0;
            top: 0;
        }
        &::marker { // border
            content: @ss-glyph-tle-border;
            color: #000;
        }
        // ::after is in duo
    }
    &.@{ss-prefix}-tmc:after { content: @ss-glyph-tmc-border; } // TMT Eternal-Legal
    &.@{ss-prefix}-tmt { // 3 layers
        display: list-item;
        list-style-position: inside;

        &.@{ss-prefix}-fw {
            text-align: revert !important;
        }

        &::before {
            position: absolute;
            left: 0;
            top: 0;
        }
        &::marker { // border
            content: @ss-glyph-tmt-border;
            color: #000;
        }
        // ::after is in duo as inner
    }
    &.@{ss-prefix}-van:after { content: @ss-glyph-van-border; } // Vanguard
}