/**
 * Handling for set symbols that use an inner and outer layer, like M21
 *
 * The inner layer is what gets colorized and is the traditional "set symbol"
 * The outer layer takes over as the border, and is white for common cards
 * but black for uncommon, rare, and mythic.
 */

.@{ss-prefix}-duo {

    // base border styles
    &::after {
        color: #000;
        content: '';
        display: block;
        font-size: 1em;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    // set default inner to white unless a rarity is declared
    color: #fff;

    // Adventures in the Forgotten Realms
    &.@{ss-prefix}-xdnd::after,
    &.@{ss-prefix}-afr::after {
        content: "\e973";
    }
    &.@{ss-prefix}-afc::after {
        content: "\e982";
    }

    // Commander 2021
    &.@{ss-prefix}-c21::after {
        content: "\e97f";
    }

    // Commander Collection: Black
    &.@{ss-prefix}-cc2::after {
        content: "\e988";
    }

    // Jumpstart: Historic Horizons
    &.@{ss-prefix}-j21::after {
        content: "\e984";
    }

    // Innistrad Werewolves
    &.@{ss-prefix}-mid::after {
        content: "\e979";
    }

    // rarity border colors
    &.@{ss-prefix}-common:after {
        color: #fff;
    }
    &.@{ss-prefix}-uncommon::after,
    &.@{ss-prefix}-rare::after,
    &.@{ss-prefix}-mythic::after {
        color: #000;
    }

}