/**
 * Core */

.@{prefix}-lea:before { content: "\e600"; } // Alpha
.@{prefix}-leb:before { content: "\e601"; } // Beta
.@{prefix}-2ed:before { content: "\e602"; } // Unlimited
.@{prefix}-3ed:before { content: "\e603"; } // Revised
.@{prefix}-4ed:before { content: "\e604"; } // 4th Edition
.@{prefix}-psum:before { content: "\e605"; } // Summer Magic
.@{prefix}-5ed:before { content: "\e606"; } // 5th Edition
.@{prefix}-6ed:before { content: "\e607"; } // 6th Edition
.@{prefix}-7ed:before { content: "\e608"; } // 7th Edition
.@{prefix}-8ed:before { content: "\e609"; } // 8th Edition
.@{prefix}-9ed:before { content: "\e60a"; } // 9th Edition
.@{prefix}-10e:before { content: "\e60b"; } // 10th Edition
.@{prefix}-m10:before { content: "\e60c"; } // Magic 2010
.@{prefix}-m11:before { content: "\e60d"; } // Magic 2011
.@{prefix}-m12:before { content: "\e60e"; } // Magic 2012
.@{prefix}-m13:before { content: "\e60f"; } // Magic 2013
.@{prefix}-m14:before { content: "\e610"; } // Magic 2014
.@{prefix}-m15:before { content: "\e611"; } // Magic 2015
.@{prefix}-bcore:before { content: "\e612"; } // Core background

/**
 * Expansions */

/* Artifact Block */
.@{prefix}-arn:before { content: "\e613"; } // Arabian Nights
.@{prefix}-atq:before { content: "\e614"; } // Antiquities
.@{prefix}-leg:before { content: "\e615"; } // Legends
/* Wizards Block */
.@{prefix}-drk:before { content: "\e616"; } // The Dark
.@{prefix}-fem:before { content: "\e617"; } // Fallen Empires
.@{prefix}-hml:before { content: "\e618"; } // Homelands
/* Ice Age Block */
.@{prefix}-ice:before { content: "\e619"; } // Ice Age
.@{prefix}-all:before { content: "\e61a"; } // Alliances
.@{prefix}-csp:before { content: "\e61b"; } // Coldsnap
/* Mirage Block */
.@{prefix}-mir:before { content: "\e61c"; } // Mirage
.@{prefix}-vis:before { content: "\e61d"; } // Visions
.@{prefix}-wth:before { content: "\e61e"; } // Weatherlight
/* Tempest Block */
.@{prefix}-tmp:before { content: "\e61f"; } // Tempest
.@{prefix}-sth:before { content: "\e620"; } // Stronghold
.@{prefix}-exo:before { content: "\e621"; } // Exodus
/* Urza's Block */
.@{prefix}-usg:before { content: "\e622"; } // Urza's Saga
.@{prefix}-ulg:before { content: "\e623"; } // Urza's Legacy
.@{prefix}-uds:before { content: "\e624"; } // Urza's Destiny
/* Mercadian Block */
.@{prefix}-mmq:before { content: "\e625"; } // Mercadian Masque
.@{prefix}-nms:before { content: "\e626"; } // Nemesis
.@{prefix}-pcy:before { content: "\e627"; } // Prophecy
/* Invasion Block */
.@{prefix}-inv:before { content: "\e628"; } // Invasion
.@{prefix}-pls:before { content: "\e629"; } // Planeshift
.@{prefix}-apc:before { content: "\e62a"; } // Apocalypse
/* Odyssey Block */
.@{prefix}-ody:before { content: "\e62b"; } // Odyssey
.@{prefix}-tor:before { content: "\e62c"; } // Torment
.@{prefix}-jud:before { content: "\e62d"; } // Judgement
/* Onslaught Block */
.@{prefix}-ons:before { content: "\e62e"; } // Onslaught
.@{prefix}-lgn:before { content: "\e62f"; } // Legions
.@{prefix}-scg:before { content: "\e630"; } // Scourge
/* Mirrodin Block */
.@{prefix}-mrd:before { content: "\e631"; } // Mirrodin
.@{prefix}-dst:before { content: "\e632"; } // Darksteel
.@{prefix}-5dn:before { content: "\e633"; } // 5th Dawn
/* Kamigawa Block */
.@{prefix}-chk:before { content: "\e634"; } // Champions of Kamigawa
.@{prefix}-bok:before { content: "\e635"; } // Betrayers of Kamigawa
.@{prefix}-sok:before { content: "\e636"; } // Saviors of Kamigawa
/* Ravnica Block */
.@{prefix}-rav:before { content: "\e637"; } // Ravnica
.@{prefix}-gpt:before { content: "\e638"; } // Guildpact
.@{prefix}-dis:before { content: "\e639"; } // Dissension
/* Time Spiral Block */
.@{prefix}-tsp:before { content: "\e63a"; } // Time Spiral
.@{prefix}-plc:before { content: "\e63b"; } // Planeshift
.@{prefix}-fut:before { content: "\e63c"; } // Future Sight
/* Lorwyn Block */
.@{prefix}-lrw:before { content: "\e63d"; } // Lorwyn
.@{prefix}-mor:before { content: "\e63e"; } // Morningtide
/* Shadowmoor Block */
.@{prefix}-shm:before { content: "\e63f"; } // Shadowmoor
.@{prefix}-eve:before { content: "\e640"; } // Eventide
/* Alara Block */
.@{prefix}-ala:before { content: "\e641"; } // Shards of Alara
.@{prefix}-con:before { content: "\e642"; } // Conflux
.@{prefix}-arb:before { content: "\e643"; } // Alara Reborn
/* Zendikar Block */
.@{prefix}-zen:before { content: "\e644"; } // Zendikar
.@{prefix}-wwk:before { content: "\e645"; } // Worldwake
.@{prefix}-roe:before { content: "\e646"; } // Rise of Eldrazi
/* Scars Block */
.@{prefix}-som:before { content: "\e647"; } // Scars of Mirrodin
.@{prefix}-mbs:before { content: "\e648"; } // Mirrodin Besieged
.@{prefix}-nph:before { content: "\e649"; } // New Phyrexia
/* Innistrad Block */
.@{prefix}-isd:before { content: "\e64a"; } // Innistrad
.@{prefix}-dka:before { content: "\e64b"; } // Dark Ascension
.@{prefix}-avr:before { content: "\e64c"; } // Avacyn Restored
/* RTR Block */
.@{prefix}-rtr:before { content: "\e64d"; } // Return to Ravnica
.@{prefix}-gtc:before { content: "\e64e"; } // Gatecrash
.@{prefix}-dgm:before { content: "\e64f"; } // Dragon's Maze
/* Theros Block */
.@{prefix}-ths:before { content: "\e650"; } // Theros
.@{prefix}-bng:before { content: "\e651"; } // Born of the Gods
.@{prefix}-jou:before { content: "\e652"; } // Journey into Nyx
/* Khans Block */
.@{prefix}-ktk:before { content: "\e653"; } // Khans of Tarkir
.@{prefix}-frf:before { content: "\e654"; } // Fate Reforged
.@{prefix}-dtk:before { content: "\e693"; } // Dragons of Tarkir

/**
 * Command Zone */

.@{prefix}-van:before { content: "\e655"; } // Vanguard
.@{prefix}-hop:before { content: "\e656"; } // Planechase 2009
.@{prefix}-arc:before { content: "\e657"; } // Archenemy
.@{prefix}-cmd:before { content: "\e658"; } // Commander
.@{prefix}-pc2:before { content: "\e659"; } // Planechase 2012
.@{prefix}-cm1:before { content: "\e65a"; } // Commander's Arsenal
.@{prefix}-c13:before { content: "\e65b"; } // Commander 2013
.@{prefix}-cns:before { content: "\e65c"; } // Conspiracy
.@{prefix}-c14:before { content: "\e65d"; } // Commander 2014

/**
 * Reprint */

.@{prefix}-chr:before { content: "\e65e"; } // Chronicles
.@{prefix}-ath:before { content: "\e65f"; } // Anthologies
.@{prefix}-brb:before { content: "\e660"; } // Battle Royale
.@{prefix}-btd:before { content: "\e661"; } // Beatdown
.@{prefix}-dkm:before { content: "\e662"; } // Deckmasters
.@{prefix}-mma:before { content: "\e663"; } // Modern Masters

/**
 * Beginner */

.@{prefix}-por:before { content: "\e664"; } // Portal
.@{prefix}-po2:before { content: "\e665"; } // Portal 2
.@{prefix}-ptk:before { content: "\e666"; } // Portal 3 Kingdoms
.@{prefix}-s99:before { content: "\e667"; } // Starter 1999
.@{prefix}-s00:before { content: "\e668"; } // Starter 2000

/**
 * Duel Decks */

.@{prefix}-evg:before { content: "\e669"; } // Elves vs. Goblins
.@{prefix}-dd2:before { content: "\e66a"; } // Jace vs. Chandra
.@{prefix}-ddc:before { content: "\e66b"; } // Divine vs. Demonic
.@{prefix}-ddd:before { content: "\e66c"; } // Garruk vs. Liliana
.@{prefix}-dde:before { content: "\e66d"; } // Phyrexia vs. Coalition
.@{prefix}-ddf:before { content: "\e66e"; } // Elspeth vs. Tezzeret
.@{prefix}-ddg:before { content: "\e66f"; } // Knights vs. Dragons
.@{prefix}-ddh:before { content: "\e670"; } // Ajani vs. Nicol Bolas
.@{prefix}-ddi:before { content: "\e671"; } // Venser vs. Koth
.@{prefix}-ddj:before { content: "\e672"; } // Izzet vs. Golgari
.@{prefix}-ddk:before { content: "\e673"; } // Sorin vs. Tibalt
.@{prefix}-ddl:before { content: "\e674"; } // Heroes vs. Monsters
.@{prefix}-ddm:before { content: "\e675"; } // Jace vs. Vraska
.@{prefix}-ddn:before { content: "\e676"; } // Speed vs. Cunning
.@{prefix}-ddo:before { content: "\e677"; } // Kiora vs. Elspeth

/**
 * From the Vault */

.@{prefix}-drb:before { content: "\e678"; } // Dragons
.@{prefix}-v09:before { content: "\e679"; } // Exiled
.@{prefix}-v10:before { content: "\e67a"; } // Relics
.@{prefix}-v11:before { content: "\e67b"; } // Legends
.@{prefix}-v12:before { content: "\e67c"; } // Realms
.@{prefix}-v13:before { content: "\e67d"; } // Twenty
.@{prefix}-v14:before { content: "\e67e"; } // Annihilation

/**
 * Premium Deck Series */

.@{prefix}-h09:before { content: "\e67f"; } // Slivers
.@{prefix}-pd2:before { content: "\e680"; } // Fire & Lightning
.@{prefix}-pd3:before { content: "\e681"; } // Graveborn
.@{prefix}-md1:before { content: "\e682"; } // Modern Event Deck

/**
 * Promotional */

.@{prefix}-pgru:before { content: "\e683"; } // Guru
.@{prefix}-pmtg1:before { content: "\e684"; } // Magic symbol
.@{prefix}-pmtg2:before { content: "\e685"; } // Magic symbol (alt)
.@{prefix}-pleaf:before { content: "\e686"; } // Leaf
.@{prefix}-pmei:before { content: "\e687"; } // Media Insert
.@{prefix}-parl:before { content: "\e688"; } // DCI (Arena)
.@{prefix}-dpa:before { content: "\e689"; } // Dragons
.@{prefix}-pbook:before { content: "\e68a"; } // Book Insert
.@{prefix}-past:before { content: "\e68b"; } // Astral
.@{prefix}-parl2:before { content: "\e68c"; } // Arena logo

/**
 * Online */

.@{prefix}-med:before { content: "\e68d"; } // Masters Edition
.@{prefix}-me2:before { content: "\e68e"; } // Masters Edition II
.@{prefix}-me3:before { content: "\e68f"; } // Masters Edition III
.@{prefix}-me4:before { content: "\e690"; } // Masters Edition IV
.@{prefix}-tpr:before { content: "\e693"; } // Tempest Remastered

/**
 * Un-serious */

.@{prefix}-ugl:before { content: "\e691"; } // Unglued
.@{prefix}-unh:before { content: "\e692"; } // Unhinged
