:root {
  --ss-border: #fff;
  --ss-border-contrast: #131417;
  --ss-inner: #fff;
  --ss-rarity: #131417;
  --ss-rarity-bg: transparent;
}
:root[data-mode=dark] {
  --ss-border: #ddd;
  --ss-border-contrast: #000;
  --ss-rarity: #000;
  --ss-inner: #fff;
}

@font-face {
  font-family: "keyrune";
  src: url("../font/keyrune.eot?4.0.94");
  src: url("../font/keyrune.eot?4.0.94#iefix") format("embedded-opentype"), url("../font/keyrune.woff2?4.0.94") format("woff2"), url("../font/keyrune.ttf?4.0.94") format("truetype"), url("../font/keyrune.woff?4.0.94") format("woff"), url("../font/keyrune.svg?4.0.94#keyrune") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.ss {
  --ss-base-size: 24px;
  --ss-aspect-ratio: 1;
  --ss-height: var(--ss-base-size);
  --ss-width: calc(var(--ss-aspect-ratio) * var(--ss-base-size));
  background: transparent;
  display: inline-block;
  height: var(--ss-height);
  mask-repeat: no-repeat;
  mask-position: 50% 0;
  position: relative;
  width: var(--ss-width);
}
.ss::before, .ss::after {
  bottom: 0;
  content: "";
  display: none;
  height: 100%;
  mask-position: 50% 0;
  mask-repeat: no-repeat;
  position: absolute;
  top: 0;
  width: 100%;
}
.ss::before {
  background: var(--ss-rarity);
  display: block;
}
.ss::after {
  background: var(--ss-inner);
}
.ss-pmtg {
  --aspect-ratio: 0.8125;
  background: var(--ss-rarity);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 39 48'%3E%3Cpath fill-rule='nonzero' d='M19.5 6a18 18 0 0 1 16.67 24.8c.33.25.68.53 1 .86l.07.1.06.08c.13.23.2.47.2.72 0 .28-.09.55-.27.78-.36.46-1 .63-1.63.45l-.1-.04c-.24-.1-.47-.2-.7-.27a18 18 0 0 1-30.32.44c-.35.17-.7.37-1 .6a.84.84 0 0 1-.24.14c-.53.2-1.1.03-1.44-.43-.2-.25-.3-.57-.3-.9 0-.32.11-.73.28-.9.28-.28.3-.33 1.36-.93A18 18 0 0 1 19.5 6Zm-7.15 14.1-.42.8c-.04.1-.11.18-.3.39-.21.25-.5.41-.85.47.13.14.24.29.3.44a.4.4 0 0 1 .05.18s.02.05.03.22c.02.32-.16.63-.16.63-1.56 2.68-2.32 4.83-2.32 6.57 0 .25.03.5.06.77l.16.03.13.02c.6.16 1 .72 1 1.41v.15c-.05.69-.51 1.2-1.14 1.25h-.2a10.6 10.6 0 0 0-1.35-.08 15.34 15.34 0 0 0 24.56-.3c-.73-.02-1.51.02-2.4.18-.64.2-1.14.43-1.5.71l-.03.03a.8.8 0 0 1-.45.17h-.03c-.68.06-1.05-.21-1.24-.45a1.3 1.3 0 0 1-.3-.85c0-.23.06-.43.1-.56v-.04c.05-.2.2-.4.38-.5l.04-.02c.33-.2.74-.56 1.15-.92l.2-.18c.04-.05.13-.17.13-.6 0-.32-.06-.75-.18-1.37a28.75 28.75 0 0 0-3-6.73.74.74 0 0 0-.24-.27.94.94 0 0 1-.24.13l-.02.02.01-.01c-.07.03-.13.07-.2.09-.36.1-.76 0-.9-.05l-.07-.02.04.13.02.2v.06a9.78 9.78 0 0 1-.48 2.2c-.18.6-.34 1.1-.34 1.65 0 .45.12.91.36 1.39a27 27 0 0 1 1.31 2.97v.02c.02.06.03.13.03.2 0 .06 0 .11-.02.17v.04a2.4 2.4 0 0 1-.86 1.44l-2.26 2.07c-.56.52-.7.66-.84.75l-.23.15a.91.91 0 0 1-.26.1c-.26.07-.5.05-.74-.05-.54-.22-.9-.79-.9-1.46l.01.08a35.73 35.73 0 0 0-2.97-10.27c-.6-1.3-1.34-2.8-2.63-3.55Zm10.82 12.18s-.02.01 0 0ZM7.38 14.6A15.26 15.26 0 0 0 5 29.03l.01-.03a111.1 111.1 0 0 0 2.73-7.52c.17-.3.45-.5.8-.58a1.2 1.2 0 0 1-.34-.8v-.03c0-.15.04-.3.11-.42l.02-.03c.35-.58.72-1.3 1.07-2.63l.01-.18c0-.4-.02-.8-1.3-.98l-.09-.01a.81.81 0 0 1-.7-.81v-.09c0-.1.02-.21.06-.32ZM19.1 8.65a15.57 15.57 0 0 0-10.64 4.7c.16-.08.32-.15.48-.17h.19c1.88.18 3.13.28 4.85.07h.07c1.23-.04 2.36 1.72 4.8 6.05l.96 1.66.12-.3.02-.04a.92.92 0 0 1 .14-.25 1.2 1.2 0 0 1 1.23-.4c.1.02.19.06.29.1l-.03-.24v-.13c.07-.43.3-.67.45-.83l.13-.14.03-.03c.42-.43.78-.98 1.16-1.58l.13-.2c0-.2-.06-.45-.33-.8l-.91-.61-.54-.36a1.2 1.2 0 0 1-.53-1V14l.04-.21c0-.05.02-.08.03-.12.17-.52.64-1.07 1.3-1.07l1.32.1c.68.06 1.32.1 2.24.27 0 0-.01 0 0 0 .33.05.68.11 1 0 .64-.23 1.17-.2 1.57.11.35.28.53.7.53 1.28v.32l.03.62c.04.58.07 1.18.2 1.73 1.57 2.83 3.6 7.3 4.72 11.55A15.43 15.43 0 0 0 19.5 8.64l-.4.01Z'/%3E%3C/svg%3E%0A");
}
.ss-pmtg::before {
  display: none !important;
}
.ss-pmtg.ss-inner::after {
  display: none !important;
}
.ss-pmtg.ss-border:not(.ss-inner) {
  mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 48 48' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect x='0' y='0' width='48' height='48' style='fill:white;'/%3E%3C/svg%3E%0A"), url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 48 48' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect x='0' y='0' width='48' height='48' style='fill:white;'/%3E%3C/svg%3E%0A");
  mask-composite: subtract;
}
.ss-plgm {
  background: var(--ss-rarity);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 39 48'%3E%3Cpath fill-rule='nonzero' d='M19.5 6a18 18 0 0 1 16.67 24.8c.33.25.68.53 1 .86l.07.1.06.08c.13.23.2.47.2.72 0 .28-.09.55-.27.78-.36.46-1 .63-1.63.45l-.1-.04c-.24-.1-.47-.2-.7-.27a18 18 0 0 1-30.32.44c-.35.17-.7.37-1 .6a.84.84 0 0 1-.24.14c-.53.2-1.1.03-1.44-.43-.2-.25-.3-.57-.3-.9 0-.32.11-.73.28-.9.28-.28.3-.33 1.36-.93A18 18 0 0 1 19.5 6Zm-7.15 14.1-.42.8c-.04.1-.11.18-.3.39-.21.25-.5.41-.85.47.13.14.24.29.3.44a.4.4 0 0 1 .05.18s.02.05.03.22c.02.32-.16.63-.16.63-1.56 2.68-2.32 4.83-2.32 6.57 0 .25.03.5.06.77l.16.03.13.02c.6.16 1 .72 1 1.41v.15c-.05.69-.51 1.2-1.14 1.25h-.2a10.6 10.6 0 0 0-1.35-.08 15.34 15.34 0 0 0 24.56-.3c-.73-.02-1.51.02-2.4.18-.64.2-1.14.43-1.5.71l-.03.03a.8.8 0 0 1-.45.17h-.03c-.68.06-1.05-.21-1.24-.45a1.3 1.3 0 0 1-.3-.85c0-.23.06-.43.1-.56v-.04c.05-.2.2-.4.38-.5l.04-.02c.33-.2.74-.56 1.15-.92l.2-.18c.04-.05.13-.17.13-.6 0-.32-.06-.75-.18-1.37a28.75 28.75 0 0 0-3-6.73.74.74 0 0 0-.24-.27.94.94 0 0 1-.24.13l-.02.02.01-.01c-.07.03-.13.07-.2.09-.36.1-.76 0-.9-.05l-.07-.02.04.13.02.2v.06a9.78 9.78 0 0 1-.48 2.2c-.18.6-.34 1.1-.34 1.65 0 .45.12.91.36 1.39a27 27 0 0 1 1.31 2.97v.02c.02.06.03.13.03.2 0 .06 0 .11-.02.17v.04a2.4 2.4 0 0 1-.86 1.44l-2.26 2.07c-.56.52-.7.66-.84.75l-.23.15a.91.91 0 0 1-.26.1c-.26.07-.5.05-.74-.05-.54-.22-.9-.79-.9-1.46l.01.08a35.73 35.73 0 0 0-2.97-10.27c-.6-1.3-1.34-2.8-2.63-3.55Zm10.82 12.18s-.02.01 0 0ZM7.38 14.6A15.26 15.26 0 0 0 5 29.03l.01-.03a111.1 111.1 0 0 0 2.73-7.52c.17-.3.45-.5.8-.58a1.2 1.2 0 0 1-.34-.8v-.03c0-.15.04-.3.11-.42l.02-.03c.35-.58.72-1.3 1.07-2.63l.01-.18c0-.4-.02-.8-1.3-.98l-.09-.01a.81.81 0 0 1-.7-.81v-.09c0-.1.02-.21.06-.32ZM19.1 8.65a15.57 15.57 0 0 0-10.64 4.7c.16-.08.32-.15.48-.17h.19c1.88.18 3.13.28 4.85.07h.07c1.23-.04 2.36 1.72 4.8 6.05l.96 1.66.12-.3.02-.04a.92.92 0 0 1 .14-.25 1.2 1.2 0 0 1 1.23-.4c.1.02.19.06.29.1l-.03-.24v-.13c.07-.43.3-.67.45-.83l.13-.14.03-.03c.42-.43.78-.98 1.16-1.58l.13-.2c0-.2-.06-.45-.33-.8l-.91-.61-.54-.36a1.2 1.2 0 0 1-.53-1V14l.04-.21c0-.05.02-.08.03-.12.17-.52.64-1.07 1.3-1.07l1.32.1c.68.06 1.32.1 2.24.27 0 0-.01 0 0 0 .33.05.68.11 1 0 .64-.23 1.17-.2 1.57.11.35.28.53.7.53 1.28v.32l.03.62c.04.58.07 1.18.2 1.73 1.57 2.83 3.6 7.3 4.72 11.55A15.43 15.43 0 0 0 19.5 8.64l-.4.01Z'/%3E%3C/svg%3E%0A");
}
.ss-plgm::before {
  display: none !important;
}
.ss-plgm.ss-inner::after {
  display: none !important;
}
.ss-plgm.ss-border:not(.ss-inner) {
  mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 48 48' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect x='0' y='0' width='48' height='48' style='fill:white;'/%3E%3C/svg%3E%0A"), url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 48 48' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect x='0' y='0' width='48' height='48' style='fill:white;'/%3E%3C/svg%3E%0A");
  mask-composite: subtract;
}
.ss-parl {
  background: var(--ss-rarity);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 39 48'%3E%3Cpath fill-rule='nonzero' d='M19.5 6a18 18 0 0 1 16.67 24.8c.33.25.68.53 1 .86l.07.1.06.08c.13.23.2.47.2.72 0 .28-.09.55-.27.78-.36.46-1 .63-1.63.45l-.1-.04c-.24-.1-.47-.2-.7-.27a18 18 0 0 1-30.32.44c-.35.17-.7.37-1 .6a.84.84 0 0 1-.24.14c-.53.2-1.1.03-1.44-.43-.2-.25-.3-.57-.3-.9 0-.32.11-.73.28-.9.28-.28.3-.33 1.36-.93A18 18 0 0 1 19.5 6Zm-7.15 14.1-.42.8c-.04.1-.11.18-.3.39-.21.25-.5.41-.85.47.13.14.24.29.3.44a.4.4 0 0 1 .05.18s.02.05.03.22c.02.32-.16.63-.16.63-1.56 2.68-2.32 4.83-2.32 6.57 0 .25.03.5.06.77l.16.03.13.02c.6.16 1 .72 1 1.41v.15c-.05.69-.51 1.2-1.14 1.25h-.2a10.6 10.6 0 0 0-1.35-.08 15.34 15.34 0 0 0 24.56-.3c-.73-.02-1.51.02-2.4.18-.64.2-1.14.43-1.5.71l-.03.03a.8.8 0 0 1-.45.17h-.03c-.68.06-1.05-.21-1.24-.45a1.3 1.3 0 0 1-.3-.85c0-.23.06-.43.1-.56v-.04c.05-.2.2-.4.38-.5l.04-.02c.33-.2.74-.56 1.15-.92l.2-.18c.04-.05.13-.17.13-.6 0-.32-.06-.75-.18-1.37a28.75 28.75 0 0 0-3-6.73.74.74 0 0 0-.24-.27.94.94 0 0 1-.24.13l-.02.02.01-.01c-.07.03-.13.07-.2.09-.36.1-.76 0-.9-.05l-.07-.02.04.13.02.2v.06a9.78 9.78 0 0 1-.48 2.2c-.18.6-.34 1.1-.34 1.65 0 .45.12.91.36 1.39a27 27 0 0 1 1.31 2.97v.02c.02.06.03.13.03.2 0 .06 0 .11-.02.17v.04a2.4 2.4 0 0 1-.86 1.44l-2.26 2.07c-.56.52-.7.66-.84.75l-.23.15a.91.91 0 0 1-.26.1c-.26.07-.5.05-.74-.05-.54-.22-.9-.79-.9-1.46l.01.08a35.73 35.73 0 0 0-2.97-10.27c-.6-1.3-1.34-2.8-2.63-3.55Zm10.82 12.18s-.02.01 0 0ZM7.38 14.6A15.26 15.26 0 0 0 5 29.03l.01-.03a111.1 111.1 0 0 0 2.73-7.52c.17-.3.45-.5.8-.58a1.2 1.2 0 0 1-.34-.8v-.03c0-.15.04-.3.11-.42l.02-.03c.35-.58.72-1.3 1.07-2.63l.01-.18c0-.4-.02-.8-1.3-.98l-.09-.01a.81.81 0 0 1-.7-.81v-.09c0-.1.02-.21.06-.32ZM19.1 8.65a15.57 15.57 0 0 0-10.64 4.7c.16-.08.32-.15.48-.17h.19c1.88.18 3.13.28 4.85.07h.07c1.23-.04 2.36 1.72 4.8 6.05l.96 1.66.12-.3.02-.04a.92.92 0 0 1 .14-.25 1.2 1.2 0 0 1 1.23-.4c.1.02.19.06.29.1l-.03-.24v-.13c.07-.43.3-.67.45-.83l.13-.14.03-.03c.42-.43.78-.98 1.16-1.58l.13-.2c0-.2-.06-.45-.33-.8l-.91-.61-.54-.36a1.2 1.2 0 0 1-.53-1V14l.04-.21c0-.05.02-.08.03-.12.17-.52.64-1.07 1.3-1.07l1.32.1c.68.06 1.32.1 2.24.27 0 0-.01 0 0 0 .33.05.68.11 1 0 .64-.23 1.17-.2 1.57.11.35.28.53.7.53 1.28v.32l.03.62c.04.58.07 1.18.2 1.73 1.57 2.83 3.6 7.3 4.72 11.55A15.43 15.43 0 0 0 19.5 8.64l-.4.01Z'/%3E%3C/svg%3E%0A");
}
.ss-parl::before {
  display: none !important;
}
.ss-parl.ss-inner::after {
  display: none !important;
}
.ss-parl.ss-border:not(.ss-inner) {
  mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 48 48' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect x='0' y='0' width='48' height='48' style='fill:white;'/%3E%3C/svg%3E%0A"), url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 48 48' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect x='0' y='0' width='48' height='48' style='fill:white;'/%3E%3C/svg%3E%0A");
  mask-composite: subtract;
}
.ss-pcy {
  --aspect-ratio: 1;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 48 48'%3E%3Cpath d='M44.01 33.54a8.57 8.57 0 0 1 2.72 2.03A4.7 4.7 0 0 1 48 38.63c0 1.69-.9 2.62-1.9 3.1-.5.25-1.51.43-1.67.44-.57.08-6.37.8-9.19.1-2.56-.64-6.12-.34-10.26.82-4.8 1.36-7.63-.27-11.3-1.24-2.68-.71-5.03-.6-6.95-.52-1.53.08-2.83.12-3.89-.11a2.46 2.46 0 0 1-2.02-2.33 2.96 2.96 0 0 1 1.54-2.66c.84-.52 2.42-.92 5.55-.76L0 22.2l3.11-7.51 8.58 1.62 4.04 6.46.01-10.04L25.8 4.39l10.7 9.03-.62 12.19 2.8-2.82 7.64-.12.66 7.29-2.97 3.58Z'/%3E%3C/svg%3E%0A");
}
.ss-pcy::before {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 48 48'%3E%3Cpath d='m10.25 36.27-8.47-14.2L4.1 16.5l6.62 1.25 6.62 10.58.01-14.85 8.45-7 9.07 7.65-.8 15.57 5.3-5.33 5.5-.08.47 5.16-4.16 5s.62 0 1.54.28c1.46.46 3.7 2.1 3.7 3.9 0 1.81-2.16 1.96-2.16 1.96s-5.85.83-8.62.13c-2.77-.7-6.61-.42-11.08.84-4.46 1.25-7.06-.35-10.46-1.26-4.78-1.26-8.56-.13-10.9-.64-.94-.2-1.12-1.38 0-2.07.9-.54 2.72-.79 6.75-.35 0 0 .46-.83.3-.97Zm21.84-20.75-2.3-2.09L28.4 33.2s.3 2.65 2.62 2.1l1.07-19.78Zm5.08 17.26 1.08 1.12 4.31-4.73-.08-2.1-5.3 5.71ZM9.32 20.74l-2.92-.48 7.38 12.8s2.62 1.4 2.31-1.39L9.32 20.74Z'/%3E%3C/svg%3E%0A");
}
.ss-pcy.ss-inner::before {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 48 48'%3E%3Cpath d='m10.25 36.27-8.47-14.2L4.1 16.5l6.62 1.25 6.62 10.58.01-14.85 8.45-7 9.07 7.65-.8 15.57 5.3-5.33 5.5-.08.47 5.16-4.16 5s.62 0 1.54.28c1.46.46 3.7 2.1 3.7 3.9 0 1.81-2.16 1.96-2.16 1.96s-5.85.83-8.62.13c-2.77-.7-6.61-.42-11.08.84-4.46 1.25-7.06-.35-10.46-1.26-4.78-1.26-8.56-.13-10.9-.64-.94-.2-1.12-1.38 0-2.07.9-.54 2.72-.79 6.75-.35 0 0 .46-.83.3-.97Z'/%3E%3C/svg%3E%0A");
}
.ss-pcy.ss-inner::after {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 48 48'%3E%3Cpath d='m37.17 32.78 5.31-5.7.08 2.09-4.3 4.73-1.09-1.12ZM9.32 20.74l6.77 10.93c.3 2.79-2.3 1.4-2.3 1.4l-7.4-12.81 2.93.48Zm22.77-5.22L31.02 35.3c-2.31.56-2.62-2.09-2.62-2.09l1.39-19.77 2.3 2.1Z'/%3E%3C/svg%3E%0A");
}
.ss-pcy.ss-border:not(.ss-inner) {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 48 48'%3E%3Cpath d='M44.01 33.54a8.57 8.57 0 0 1 2.72 2.03A4.7 4.7 0 0 1 48 38.63c0 1.69-.9 2.62-1.9 3.1-.5.25-1.51.43-1.67.44-.57.08-6.37.8-9.19.1-2.56-.64-6.12-.34-10.26.82-4.8 1.36-7.63-.27-11.3-1.24-2.68-.71-5.03-.6-6.95-.52-1.53.08-2.83.12-3.89-.11a2.46 2.46 0 0 1-2.02-2.33 2.96 2.96 0 0 1 1.54-2.66c.84-.52 2.42-.92 5.55-.76L0 22.2l3.11-7.51 8.58 1.62 4.04 6.46.01-10.04L25.8 4.39l10.7 9.03-.62 12.19 2.8-2.82 7.64-.12.66 7.29-2.97 3.58Z'/%3E%3C/svg%3E%0A"), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 48 48'%3E%3Cpath d='m37.17 32.78 5.31-5.7.08 2.09-4.3 4.73-1.09-1.12ZM9.32 20.74l6.77 10.93c.3 2.79-2.3 1.4-2.3 1.4l-7.4-12.81 2.93.48Zm22.77-5.22L31.02 35.3c-2.31.56-2.62-2.09-2.62-2.09l1.39-19.77 2.3 2.1Z'/%3E%3C/svg%3E%0A");
  mask-composite: subtract;
}
.ss.ss-border {
  background: var(--ss-border);
}
.ss.ss-border::before {
  display: inline-block;
}
.ss.ss-border.ss-rarity-common-alt, .ss.ss-border.ss-rarity-uncommon, .ss.ss-border.ss-rarity-rare, .ss.ss-border.ss-rarity-mythic, .ss.ss-border.ss-rarity-foil, .ss.ss-border.ss-border-black {
  background: var(--ss-border-contrast);
}
.ss.ss-border-white {
  --ss-border: #fff !important;
  --ss-border-contrast: #fff !important;
}
.ss.ss-inner::after {
  display: inline-block;
}
.ss.ss-rarity-common {
  --ss-rarity: #131417;
}
.ss.ss-rarity-common.ss-rarity-gradient {
  --ss-rarity: linear-gradient(
      90deg,
      #131417 0%,
      #131417 50%,
      #131417 100%);
}
.ss.ss-rarity-common-alt {
  --ss-rarity: #fff;
}
.ss.ss-rarity-common-alt.ss-rarity-gradient {
  --ss-rarity: linear-gradient(
      90deg,
       0%,
       50%,
       100%);
}
.ss.ss-rarity-uncommon {
  --ss-rarity: #707883;
}
.ss.ss-rarity-uncommon.ss-rarity-gradient {
  --ss-rarity: linear-gradient(
      90deg,
      #4d6572 0%,
      #c3dfeb 50%,
      #4d6572 100%);
}
.ss.ss-rarity-rare {
  --ss-rarity: #a48a37;
}
.ss.ss-rarity-rare.ss-rarity-gradient {
  --ss-rarity: linear-gradient(
      90deg,
      #7f6f43 0%,
      #d9c287 50%,
      #7f6f43 100%);
}
.ss.ss-rarity-mythic {
  --ss-rarity: #d9640f;
}
.ss.ss-rarity-mythic.ss-rarity-gradient {
  --ss-rarity: linear-gradient(
      90deg,
      #c2381a 0%,
      #f59700 50%,
      #c2381a 100%);
}
.ss.ss-rarity-foil {
  --ss-rarity: #00afc9;
}
.ss.ss-rarity-foil.ss-rarity-gradient {
  --ss-rarity: linear-gradient(
      135deg,
      #ea8d66 0%,
      #ea8d66 15%,
      #fdef8a 28%,
      #8bcc93 42%,
      #a6dced 55%,
      #6f75aa 68%,
      #e599c2 84%,
      #e599c2 100%);
}
.ss.ss-uw {
  align-items: center;
  display: inline-flex;
  height: 1em;
  width: 1em;
}
.ss.ss-uw::before, .ss.ss-uw::after {
  font-size: calc(1em / var(--aspect-ratio));
}
.ss.ss-white::before, .ss.ss-white::after, .ss.ss-white::marker {
  color: #fff;
}

@-moz-document url-prefix() {
  .ss-fnm::before, .ss-pfnm::before {
    margin-left: -0.4%;
  }
  .ss-7ed::before, .ss-7e::before {
    margin-left: 0.5%;
  }
  .ss-ody::before, .ss-od::before {
    margin-left: -1.3%;
  }
}
_::-webkit-full-page-media .ss-inner, _:future .ss-inner, :root .safari_only .ss-inner {
  display: none !important;
}

.ss-8ed:not(.ss-border):not(.ss-inner)::before {
  content: "\f8e7";
}
.ss-8ed.ss-rarity-common.ss-border::after {
  --ss-border: var(--ss-border-contrast);
}
.ss-8ed.ss-rarity-common.ss-inner::marker {
  --ss-inner: #fff;
}
.ss-8ed.ss-rarity-uncommon.ss-inner::marker, .ss-8ed.ss-rarity-rare.ss-inner::marker, .ss-8ed.ss-rarity-mythic.ss-inner::marker, .ss-8ed.ss-rarity-foil.ss-inner::marker {
  --ss-inner: var(--ss-border-contrast);
}

/*# sourceMappingURL=keyrune.css.map */
