// _variables.scss

// Table of Contents: ==========================
// 1. Global
// 2. Keyrune
// 3. Set Symbol
// 4. Keyrune Colors
// 5. Helpers
// 6. MtG Setlist
//

// 1. Global ===================================
//
$global_font_path:  '../fonts' !default;
$global_font_size:  14px !default;

// 2. Keyrune ==================================
//
$keyrune_font_face:               "Keyrune" !default;
$keyrune_version:                 '1.7.2' !default;
$keyrune_prefix:                  'ss' !default;
$keyrune_font_weight:             normal !default;
$keyrune_font_style:              normal !default;

// 3. Set Symbol ===============================
//
$setsymbol_display:                 inline-block !default;
$setsymbol_font:                    normal normal normal $global_font_size/1 $keyrune_font_face !default;
$setsymbol_font_size:               inherit !default;
$setsymbol_line_height:             1em !default;
$setsymbol_text_rendering:          auto !default;
$setsymbol_transform:               translate(0, 0) !default;
$setsymbol_speak:                   none !default;
$setsymbol_text_transform:          none !default;
$setsymbol_vertical_align:          middle !default;
$setsymbol_webkit_font_smoothing:   antialiased !default;
$setsymbol_moz_font_smoothing:      grayscale !default;
$setsymbol_default_content:         "\e684" !default;

$setsymbol_color_stop1:             0% !default;
$setsymbol_color_stop2:             50% !default;
$setsymbol_color_stop3:             100% !default;
$setsymbol_text_stroke:             0.03em !default;
$setsymbol_text_fill_color:         transparent !default;
$setsymbol_background_clip:         text !default;

// 4. Keyrune Colors ============================
//
$rarity_palette: (
  ('common', #1a1718, #302b2c, #474040, #000),
  ('uncommon', #707883, #5a6572, #9e9e9e, #111),
  ('rare', #a58e4a, #876a3b, #dfbd6b, #333),
  ('mythic', #bf4427, #b21f0f, #f38300, #333)
) !default;

$white: #fff;

// 5. Helpers ==================================
//
$setsymbol_sizes: (
  '2x': 2em,
  '3x': 3em,
  '4x': 4em,
  '5x': 5em,
  '6x': 6em
) !default;

$setsymbol_fixed_size_width:        calc(18em / 14px) !default; // TODO: might have to light into implementing a units component. perhaps switch to
$setsymbol_fixed_size_text_align:   center !default;

$setsymbol_no_border:               0 !default;

$setsymbol_border_after_content:            "" !default;
$setsymbol_border_after_position:           absolute !default;
$setsymbol_border_after_left:               -.05em !default;   // TODO: change to -0.05em if doesn't effect visual styles.
$setsymbol_border_after_top:                .0em !default;     // TODO: change to 0.0em "
$setsymbol_border_after_z_index:            -1 !default;
$setsymbol_border_after_color:              $white !default;
$setsymbol_border_after_font_size:          1.15em !default;
$setsymbol_border_after_background:         $white !default;
$setsymbol_border_after_text_stroke:        0.05em $white !default;
$setsymbol_border_after_background_clip:    $setsymbol_background_clip !default;
$setsymbol_border_after_text_fill_color:    $setsymbol_text_fill_color !default;

// not really sure what to call this array, although I notice it is for special borders.
$mtg_setlist_borders: (
  ("Vanguard", 'van', "\e655"),
  ("Archenemy", 'arc', "\e657"),
  ("Commander", 'cmd', "\e658"),
  ("Commander's Arsenal", 'cm1', "\e65a"),
  ("Commander 2013", 'c13', "\e65b"),
  ("Commander 2014", 'c14', "\e65d"),
  ("Commander 2015", 'c15', "\e900"),
  ("Planechase 2009", 'hop', "\e656"),
  ("Planechase 2012", 'pc2', "\e659"),
  ("Conspiracy", 'cns', "\e65c")
);

// 6. MtG Setlist ==============================
// Legend:
// (Set_Name, Set_Code, Set_Glyph)
//
$mtg_setlist: (
  ("Alpha", 'lea', "\e600"),
  ("Beta", 'leb', "\e601"),
  ("Unlimited", '2ed', "\e602"),
  ("Revised", '3ed', "\e603"),
  ("4th Edition", '4ed', "\e604"),
  ("Summer Magic", 'psum', "\e605"),
  ("5th Edition", '5ed', "\e606"),
  ("6th Edition", '6ed', "\e607"),
  ("7th Edition", '7ed', "\e608"),
  ("8th Edition", '8ed', "\e609"),
  ("9th Edition", '9ed', "\e60a"),
  ("10th Edition", '10e', "\e60b"),
  ("Magic 2010", 'm10', "\e60c"),
  ("Magic 2011", 'm11', "\e60d"),
  ("Magic 2012", 'm12', "\e60e"),
  ("Magic 2013", 'm13', "\e60f"),
  ("Magic 2014", 'm14', "\e610"),
  ("Magic 2015", 'm15', "\e611"),
  ("Core background", 'bcore', "\e612"),
  ("Magic Origins", 'ori', "\e697"),
  ("Arabian Nights", 'arn', "\e613"),
  ("Antiquities", 'atq', "\e614"),
  ("Legends", 'leg', "\e615"),
  ("The Dark", 'drk', "\e616"),
  ("Fallen Empires", 'fem', "\e617"),
  ("Homelands", 'hml', "\e618"),
  ("Ice Age", 'ice', "\e619"),
  ("Alliances", 'all', "\e61a"),
  ("Coldsnap", 'csp', "\e61b"),
  ("Mirage", 'mir', "\e61c"),
  ("Visions", 'vis', "\e61d"),
  ("Weatherlight", 'wth', "\e61e"),
  ("Tempest", 'tmp', "\e61f"),
  ("Stronghold", 'sth', "\e620"),
  ("Exodus", 'exo', "\e621"),
  ("Urza's Saga", 'usg', "\e622"),
  ("Urza's Legacy", 'ulg', "\e623"),
  ("Urza's Destiny", 'uds', "\e624"),
  ("Mercadian Masque", 'mmq', "\e625"),
  ("Nemesis", 'nms', "\e626"),
  ("Prophecy", 'pcy', "\e627"),
  ("Invasion", 'inv', "\e628"),
  ("Planeshift", 'pls', "\e629"),
  ("Apocalypse", 'apc', "\e62a"),
  ("Odyssey", 'ody', "\e62b"),
  ("Torment", 'tor', "\e62c"),
  ("Judgement", 'jud', "\e62d"),
  ("Onslaught", 'ons', "\e62e"),
  ("Legions", 'lgn', "\e62f"),
  ("Scourge", 'scg', "\e630"),
  ("Mirrodin", 'mrd', "\e631"),
  ("Darksteel", 'dst', "\e632"),
  ("5th Dawn", '5dn', "\e633"),
  ("Champions of", 'chk', "\e634"),
  ("Betrayers of", 'bok', "\e635"),
  ("Saviors of Kamigawa", 'sok', "\e636"),
  ("Ravnica", 'rav', "\e637"),
  ("Guildpact", 'gpt', "\e638"),
  ("Dissension", 'dis', "\e639"),
  ("Time Spiral", 'tsp', "\e63a"),
  ("Planeshift", 'plc', "\e63b"),
  ("Future Sight", 'fut', "\e63c"),
  ("Lorwyn", 'lrw', "\e63d"),
  ("Morningtide", 'mor', "\e63e"),
  ("Shadowmoor", 'shm', "\e63f"),
  ("Eventide", 'eve', "\e640"),
  ("Shards of Alara", 'ala', "\e641"),
  ("Conflux", 'con', "\e642"),
  ("Alara Reborn", 'arb', "\e643"),
  ("Zendikar", 'zen', "\e644"),
  ("Worldwake", 'wwk', "\e645"),
  ("Rise of Eldrazi", 'roe', "\e646"),
  ("Scars of Mirrodin", 'som', "\e647"),
  ("Mirrodin Besieged", 'mbs', "\e648"),
  ("New Phyrexia", 'nph', "\e649"),
  ("Innistrad", 'isd', "\e64a"),
  ("Dark Ascension", 'dka', "\e64b"),
  ("Avacyn Restored", 'avr', "\e64c"),
  ("Return to Ravnica", 'rtr', "\e64d"),
  ("Gatecrash", 'gtc', "\e64e"),
  ("Dragon's Maze", 'dgm', "\e64f"),
  ("Theros", 'ths', "\e650"),
  ("Born of the Gods", 'bng', "\e651"),
  ("Journey into Nyx", 'jou', "\e652"),
  ("Khans of Tarkir", 'ktk', "\e653"),
  ("Fate Reforged", 'frf', "\e654"),
  ("Dragons of Tarkir", 'dtk', "\e693"),
  ("Battle for Zendikar", 'bfz', "\e699"),
  ("Oath of the", 'ogw', "\e901"),
  ("Shadows Over", 'soi', "\e902"),
  ("Eldritch Moon", 'emn', "\e90b"),
  ("Kaladesh", 'kld', "\e90e"),
  ("Aether Revolt", 'aer', "\e90f"),
  ("Vanguard", 'van', "\e655"),
  ("Planechase 2009", 'hop', "\e656"),
  ("Archenemy", 'arc', "\e657"),
  ("Commander", 'cmd', "\e658"),
  ("Planechase 2012", 'pc2', "\e659"),
  ("Commander's Arsenal", 'cm1', "\e65a"),
  ("Commander 2013", 'c13', "\e65b"),
  ("Conspiracy", 'cns', "\e65c"),
  ("Commander 2014", 'c14', "\e65d"),
  ("Commander 2015", 'c15', "\e900"),
  ("Conspiracy 2, Take", 'cn2', "\e904"),
  ("Commander 2016", 'c16', "\e910"),
  ("Planechase", 'pca', "\e911"),
  ("Chronicles", 'chr', "\e65e"),
  ("Anthologies", 'ath', "\e65f"),
  ("Battle Royale", 'brb', "\e660"),
  ("Beatdown", 'btd', "\e661"),
  ("Deckmasters", 'dkm', "\e662"),
  ("Modern Masters", 'mma', "\e663"),
  ("Modern Masters 2015", 'mm2', "\e695"),
  ("Eternal Masters", 'ema', "\e903"),
  ("Modern Masters 2017", 'mm3', "\e912"),
  ("Portal", 'por', "\e664"),
  ("Portal 2", 'po2', "\e665"),
  ("Portal 3 Kingdoms", 'ptk', "\e666"),
  ("Starter 1999", 's99', "\e667"),
  ("Starter 2000", 's00', "\e668"),
  ("Welcome Deck 2016", 'w16', "\e907"),
  ("Elves vs. Goblins", 'evg', "\e669"),
  ("Jace vs. Chandra", 'dd2', "\e66a"),
  ("Divine vs. Demonic", 'ddc', "\e66b"),
  ("Garruk vs. Liliana", 'ddd', "\e66c"),
  ("Phyrexia vs.", 'dde', "\e66d"),
  ("Elspeth vs.", 'ddf', "\e66e"),
  ("Knights vs. Dragons", 'ddg', "\e66f"),
  ("Ajani vs. Nicol", 'ddh', "\e670"),
  ("Venser vs. Koth", 'ddi', "\e671"),
  ("Izzet vs. Golgari", 'ddj', "\e672"),
  ("Sorin vs. Tibalt", 'ddk', "\e673"),
  ("Heroes vs. Monsters", 'ddl', "\e674"),
  ("Jace vs. Vraska", 'ddm', "\e675"),
  ("Speed vs. Cunning", 'ddn', "\e676"),
  ("Kiora vs. Elspeth", 'ddo', "\e677"),
  ("Zendikar vs.", 'ddp', "\e698"),
  ("Blessed vs. Cursed", 'ddq', "\e908"),
  ("Nissa vs. Ob", 'ddr', "\e90d"),
  ("Dragons", 'drb', "\e678"),
  ("Exiled", 'v09', "\e679"),
  ("Relics", 'v10', "\e67a"),
  ("Legends", 'v11', "\e67b"),
  ("Realms", 'v12', "\e67c"),
  ("Twenty", 'v13', "\e67d"),
  ("Annihilation", 'v14', "\e67e"),
  ("Angels", 'v15', "\e905"),
  ("Lore", 'v16', "\e906"),
  ("Slivers", 'h09', "\e67f"),
  ("Fire & Lightning", 'pd2', "\e680"),
  ("Graveborn", 'pd3', "\e681"),
  ("Modern Event Deck", 'md1', "\e682"),
  ("Guru", 'pgru', "\e683"),
  ("Magic symbol", 'pmtg1', "\e684"),
  ("Magic symbol", 'pmtg2', "\e685"),
  ("Leaf", 'pleaf', "\e686"),
  ("Media Insert", 'pmei', "\e687"),
  ("DCI (Arena)", 'parl', "\e688"),
  ("Dragons", 'dpa', "\e689"),
  ("Book Insert", 'pbook', "\e68a"),
  ("Astral", 'past', "\e68b"),
  ("Arena logo", 'parl2', "\e68c"),
  ("Zendikar", 'exp', "\e69a"),
  ("Salvat 2005", 'psalvat05', "\e909"),
  ("Salvat 2011", 'psalvat11', "\e90a"),
  ("Masterpieces,", 'mp1', "\e913"),
  ("Masters Edition", 'med', "\e68d"),
  ("Masters Edition II", 'me2', "\e68e"),
  ("Masters Edition III", 'me3', "\e68f"),
  ("Masters Edition IV", 'me4', "\e690"),
  ("Tempest Remastered", 'tpr', "\e694"),
  ("Vintage Masters", 'vma', "\e696"),
  ("Legendary Cube", 'xlcu', "\e90c"),
  ("Unglued", 'ugl', "\e691"),
  ("Unhinged", 'unh', "\e692")
) !default;
