html {
    font-family: #{$keyrune-ui-font-family};
    font-size: 16px;
}

body {
    align-items: center;
    background: var(--bg-body);
    border-top: 5px solid var(--bg-border);
    color: var(--text-default);
    display: flex;
    flex-direction: column;
    margin: 0;
    //transition: background 100ms ease-in-out, color 100ms ease-in-out;
}

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 5rem;
    justify-content: space-between;
    width: 100%;

    mark {
        background: transparent;
        color: var(--text-default);
        flex-shrink: 0;
        font-family: Beleren;
        font-size: 1.5rem;
        margin-left: 1.5rem;

        i {
            color: var(--text-default) !important;
        }

        b {
            border: 0.1rem solid var(--text-default);
            border-radius: 0.35rem;
            font-family: #{$keyrune-ui-font-family};
            font-size: 0.75rem;
            font-weight: normal;
            margin: 0 0 0 0.5rem;
            padding: 0.2rem 0.4rem;
            position: relative;
            top: -0.2rem;
        }
    }

    menu {
        flex-grow: 1;
    }

    #toggle-nav {
        position: absolute;
        right: 1.5rem;
        z-index: 20;

        svg {
            .line {
                opacity: 1;
                transform: rotate(0) translateY(0) translateX(0);
                transform-origin: 1em 1em;
                transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;

                &.top {
                    transform-origin: 6px 6px;
                }

                &.bot {
                    transform-origin: 3px 17px;
                }
            }

            &.closed {
                .line.top {
                    transform: rotate(45deg) scale(1.1);
                }
                .line.mid {
                    opacity: 0;
                }
                .line.bot {
                    transform: rotate(-45deg) scale(1.1);
                }
            }
        }
    }

    nav {
        transform: translateY(-100%);
        flex-direction: column;
        margin-right: 2.5rem;

        > a {
            align-items: center;
            color: var(--text-default);
            display: flex;
            margin: 0 1rem;

            > svg {
                margin-right: 0.5rem;
            }

            > span {
                text-decoration: underline transparent;
                transition: text-decoration 150ms ease-in-out;
                -webkit-text-underline-position: from-font;
                text-underline-position: under-font;
            }

            &:hover span {
                text-decoration-color: var(--text-default);
            }
        }

        &.mobile {
            background: var(--rgba-fg);
            position: fixed;
            top: 0;
            left: 0;
            padding-top: 1rem;
            padding-bottom: 2.5rem;
            width: 100%;
            z-index: 10;
            border-radius: 0 0 2rem 2rem;
            transform: translateY(0);
            transition: transform 200ms ease-in-out;

            > a {
                font-size: 1.75rem;
                padding: 0.5rem 1rem;

                > span {
                    padding-left: 0.5rem;
                }
            }

            #hide-nav {
                right: 0;
                position: absolute;
                top: 1rem;
            }

            #mode {
                margin-top: 1rem;
                text-align: center;

                label.toggle {
                    height: 2.5rem;
                    width: 8rem;
                    border-radius: 1.5rem;

                    &::after {
                        font-size: 1.33rem;
                        width: 3rem;
                        height: 2.1rem;
                    }
                }
                input.toggle:checked + label::after {
                    left: calc(100% - 0.25rem);
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    #toggle-nav {
        display: none;
    }
    header {
        mark {
            margin-left: 2.5rem;
        }
        nav {
            display: flex;
            flex-direction: row;
            transform: none;
        }
    }
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

section {
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    width: min(83.3333%, 1200px);
}

footer {
    background-color: #{map.get($keyrune-ui, "black", "700")};
    color: #{map.get($keyrune-ui, "white")};
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    width: 100%;

    &.border {
        border-top: 1px solid #{map.get($keyrune-ui, "black", "300")};
    }

    menu {
        li {
            margin-bottom: 0.5rem;
        }
    }

    iframe html body {
        background: var(--bg-body);
    }
}

//
// dark/light toggle

#mode {
    height: 2rem;

    input.toggle {
        height: 0;
        width: 0;
        visibility: hidden;

        &:checked + label {
            background: var(--bg-body);

            &::after {
                content: "\e024";
                left: calc(100% - 0.2rem);
                transform: translateX(-100%);
            }
        }
    }

    label.toggle {
        cursor: pointer;
        width: 4rem;
        height: 1.75rem;
        border: 2px solid var(--bg-accent);
        display: inline-flex;
        border-radius: 1rem;
        position: relative;
        transition: border-color 150ms ease-in-out;

        &:hover {
            border-color: var(--text-accent);
        }

        &::after {
            content: "\e012";
            color: var(--text-default);
            font-family: keyrune;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0.2rem;
            left: 0.2rem;
            width: 1.75rem;
            height: 1.35rem;
            background: var(--bg-content);
            border-radius: 1rem;
            transition: all 300ms ease-in-out;
        }

        &:active::after {
            width: 2rem;
        }
    }
}
:root[data-mode="dark"] {
    #mode label::after {
        content: "\e024";
        left: calc(100% - 0.2rem);
        transform: translateX(-100%);
    }
}

//
// design stuff

.angle {
    &-top {
        &::before {
            content: '';
            display: block;
            height: 4rem;
            background: var(--bg-body);
            position: absolute;
            top: 0;
            width: 100%;
            clip-path: polygon(0% 0%, 100% 0, 100% 0, 0% 100%);
        }
    }
}

.checkerboard {
    background-image:
        linear-gradient(45deg, var(--bg-hover) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--bg-hover) 75%),
        linear-gradient(45deg, transparent 75%, var(--bg-hover) 75%),
        linear-gradient(45deg, var(--bg-hover) 25%, transparent 25%);
    background-size: 1.5rem 1.5rem;
    background-position: 0 0, 0 0, -0.75rem -0.75rem, 0.75rem 0.75rem;
}

.bg {
    &-accent { background-color: var(--bg-accent); }
    &-black { background-color: #{map.get($keyrune-ui, "black", "700")}; }
    &-content { background-color: var(--bg-content); }
}

// tooltips

.tooltip {
    font-style: normal;
    display: flex;
    width: auto;
    margin: 0 auto;
    background: var(--text-default);
    position: absolute;
    top: 0;
    left: 50%;
    white-space: nowrap;
    min-height: 1.5rem;
    color: var(--bg-body);
    transform: translateX(-50%) translateY(-50%);
    margin-top: -1rem;
    opacity: 0;
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    transition: top 250ms ease-in-out, opacity 250ms ease-in-out;

    &-wrapper:not(.disabled):hover .tooltip {
        top: -0.5rem;
        opacity: 1;
        transition-delay: 750ms;
    }
}
