:root {
  --ss-border: #fff;
  --ss-border-contrast: #131417;
  --ss-inner: #fff;
  --ss-rarity: #131417;
  --ss-rarity-bg: transparent;
}
:root[data-mode=dark] {
  --ss-border: #ddd;
  --ss-border-contrast: #000;
  --ss-rarity: #000;
  --ss-inner: #fff;
}

@font-face {
  font-family: "keyrune";
  src: url("../font/keyrune.eot?4.0.94");
  src: url("../font/keyrune.eot?4.0.94#iefix") format("embedded-opentype"), url("../font/keyrune.woff2?4.0.94") format("woff2"), url("../font/keyrune.ttf?4.0.94") format("truetype"), url("../font/keyrune.woff?4.0.94") format("woff"), url("../font/keyrune.svg?4.0.94#keyrune") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.ss {
  font-family: "keyrune" !important;
  color: var(--ss-rarity);
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  position: relative;
  text-transform: none;
  line-height: 1;
  display: inline-flex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ss::before {
  background: var(--ss-rarity-bg);
}
.ss-lea {
  --aspect-ratio: ;
}
.ss-lea::before {
  content: "\e000";
}
.ss-lea.ss-border::after {
  content: "\e001";
}
.ss-lea.ss-inner::marker {
  content: "\e002";
}
.ss-leb {
  --aspect-ratio: ;
}
.ss-leb::before {
  content: "\e003";
}
.ss-leb.ss-border::after {
  content: "\e004";
}
.ss-leb.ss-inner::marker {
  content: "\e005";
}
.ss-2ed {
  --aspect-ratio: ;
}
.ss-2ed::before {
  content: "\e006";
}
.ss-2ed.ss-border::after {
  content: "\e007";
}
.ss-2ed.ss-inner::marker {
  content: "\e008";
}
.ss-ced {
  --aspect-ratio: ;
}
.ss-ced::before {
  content: "\e009";
}
.ss-ced.ss-border::after {
  content: "\e00a";
}
.ss-ced.ss-inner::marker {
  content: "\e00b";
}
.ss-cei {
  --aspect-ratio: ;
}
.ss-cei::before {
  content: "\e00c";
}
.ss-cei.ss-border::after {
  content: "\e00d";
}
.ss-cei.ss-inner::marker {
  content: "\e00e";
}
.ss-arn {
  --aspect-ratio: 1.75;
}
.ss-arn::before {
  content: "\e00f";
}
.ss-arn.ss-border::after {
  content: "\e010";
}
.ss-arn.ss-inner::marker {
  content: "\e011";
}
.ss-atq {
  --aspect-ratio: 1.029;
}
.ss-atq::before {
  content: "\e012";
}
.ss-atq.ss-border::after {
  content: "\e013";
}
.ss-atq.ss-inner::marker {
  content: "\f8ff";
}
.ss-3ed {
  --aspect-ratio: ;
}
.ss-3ed::before {
  content: "\e015";
}
.ss-3ed.ss-border::after {
  content: "\e016";
}
.ss-3ed.ss-inner::marker {
  content: "\e017";
}
.ss-fbb {
  --aspect-ratio: ;
}
.ss-fbb::before {
  content: "\e018";
}
.ss-fbb.ss-border::after {
  content: "\e019";
}
.ss-fbb.ss-inner::marker {
  content: "\e01a";
}
.ss-leg {
  --aspect-ratio: ;
}
.ss-leg::before {
  content: "\e01b";
}
.ss-leg.ss-border::after {
  content: "\e01c";
}
.ss-leg.ss-inner::marker {
  content: "\e01d";
}
.ss-sum {
  --aspect-ratio: ;
}
.ss-sum::before {
  content: "\e01e";
}
.ss-sum.ss-border::after {
  content: "\e01f";
}
.ss-sum.ss-inner::marker {
  content: "\f8ff";
}
.ss-pdrc {
  --aspect-ratio: ;
}
.ss-pdrc::before {
  content: "\e021";
}
.ss-pdrc.ss-border::after {
  content: "\e022";
}
.ss-pdrc.ss-inner::marker {
  content: "\f8ff";
}
.ss-drk {
  --aspect-ratio: ;
}
.ss-drk::before {
  content: "\e024";
}
.ss-drk.ss-border::after {
  content: "\e025";
}
.ss-drk.ss-inner::marker {
  content: "\f8ff";
}
.ss-phpr {
  --aspect-ratio: ;
}
.ss-phpr::before {
  content: "\e027";
}
.ss-phpr.ss-border::after {
  content: "\e028";
}
.ss-phpr.ss-inner::marker {
  content: "\f8ff";
}
.ss-fem {
  --aspect-ratio: ;
}
.ss-fem::before {
  content: "\e02a";
}
.ss-fem.ss-border::after {
  content: "\e02b";
}
.ss-fem.ss-inner::marker {
  content: "\f8ff";
}
.ss-pmei {
  --aspect-ratio: ;
}
.ss-pmei::before {
  content: "\e02d";
}
.ss-pmei.ss-border::after {
  content: "\e02e";
}
.ss-pmei.ss-inner::marker {
  content: "\f8ff";
}
.ss-pleaf::before {
  content: "\e02d";
}
.ss-pleaf.ss-border::after {
  content: "\e02e";
}
.ss-pleaf.ss-inner::marker {
  content: "\f8ff";
}
.ss-pmtg {
  --aspect-ratio: ;
}
.ss-pmtg::before {
  content: "\e030";
}
.ss-pmtg.ss-border::after {
  content: "\e031";
}
.ss-pmtg.ss-inner::marker {
  content: "\f8ff";
}
.ss-plgm::before {
  content: "\e030";
}
.ss-plgm.ss-border::after {
  content: "\e031";
}
.ss-plgm.ss-inner::marker {
  content: "\f8ff";
}
.ss-parl::before {
  content: "\e030";
}
.ss-parl.ss-border::after {
  content: "\e031";
}
.ss-parl.ss-inner::marker {
  content: "\f8ff";
}
.ss-4ed {
  --aspect-ratio: ;
}
.ss-4ed::before {
  content: "\e033";
}
.ss-4ed.ss-border::after {
  content: "\e034";
}
.ss-4ed.ss-inner::marker {
  content: "\f8ff";
}
.ss-4bb {
  --aspect-ratio: ;
}
.ss-4bb::before {
  content: "\e036";
}
.ss-4bb.ss-border::after {
  content: "\e037";
}
.ss-4bb.ss-inner::marker {
  content: "\f8ff";
}
.ss-ice {
  --aspect-ratio: ;
}
.ss-ice::before {
  content: "\e039";
}
.ss-ice.ss-border::after {
  content: "\e03a";
}
.ss-ice.ss-inner::marker {
  content: "\e03b";
}
.ss-chr {
  --aspect-ratio: ;
}
.ss-chr::before {
  content: "\e03c";
}
.ss-chr.ss-border::after {
  content: "\e03d";
}
.ss-chr.ss-inner::marker {
  content: "\f8ff";
}
.ss-ren {
  --aspect-ratio: ;
}
.ss-ren::before {
  content: "\e03f";
}
.ss-ren.ss-border::after {
  content: "\e040";
}
.ss-ren.ss-inner::marker {
  content: "\f8ff";
}
.ss-rin {
  --aspect-ratio: ;
}
.ss-rin::before {
  content: "\e042";
}
.ss-rin.ss-border::after {
  content: "\e043";
}
.ss-rin.ss-inner::marker {
  content: "\f8ff";
}
.ss-hml {
  --aspect-ratio: ;
}
.ss-hml::before {
  content: "\e045";
}
.ss-hml.ss-border::after {
  content: "\e046";
}
.ss-hml.ss-inner::marker {
  content: "\e047";
}
.ss-all {
  --aspect-ratio: ;
}
.ss-all::before {
  content: "\e048";
}
.ss-all.ss-border::after {
  content: "\e049";
}
.ss-all.ss-inner::marker {
  content: "\e04a";
}
.ss-mir {
  --aspect-ratio: ;
}
.ss-mir::before {
  content: "\e04b";
}
.ss-mir.ss-border::after {
  content: "\e04c";
}
.ss-mir.ss-inner::marker {
  content: "\f8ff";
}
.ss-itp {
  --aspect-ratio: ;
}
.ss-itp::before {
  content: "\e04e";
}
.ss-itp.ss-border::after {
  content: "\e04f";
}
.ss-itp.ss-inner::marker {
  content: "\f8ff";
}
.ss-vis {
  --aspect-ratio: ;
}
.ss-vis::before {
  content: "\e051";
}
.ss-vis.ss-border::after {
  content: "\e052";
}
.ss-vis.ss-inner::marker {
  content: "\e053";
}
.ss-5ed {
  --aspect-ratio: ;
}
.ss-5ed::before {
  content: "\e054";
}
.ss-5ed.ss-border::after {
  content: "\e055";
}
.ss-5ed.ss-inner::marker {
  content: "\f8ff";
}
.ss-past {
  --aspect-ratio: ;
}
.ss-past::before {
  content: "\e057";
}
.ss-past.ss-border::after {
  content: "\e058";
}
.ss-past.ss-inner::marker {
  content: "\f8ff";
}
.ss-por {
  --aspect-ratio: ;
}
.ss-por::before {
  content: "\e05a";
}
.ss-por.ss-border::after {
  content: "\e05b";
}
.ss-por.ss-inner::marker {
  content: "\e05c";
}
.ss-pvan {
  --aspect-ratio: ;
}
.ss-pvan::before {
  content: "\e05d";
}
.ss-pvan.ss-border::after {
  content: "\e05e";
}
.ss-pvan.ss-inner::marker {
  content: "\f8ff";
}
.ss-van::before {
  content: "\e05d";
}
.ss-van.ss-border::after {
  content: "\e05e";
}
.ss-van.ss-inner::marker {
  content: "\f8ff";
}
.ss-wth {
  --aspect-ratio: ;
}
.ss-wth::before {
  content: "\e060";
}
.ss-wth.ss-border::after {
  content: "\e061";
}
.ss-wth.ss-inner::marker {
  content: "\e062";
}
.ss-tmp {
  --aspect-ratio: ;
}
.ss-tmp::before {
  content: "\e063";
}
.ss-tmp.ss-border::after {
  content: "\e064";
}
.ss-tmp.ss-inner::marker {
  content: "\f8ff";
}
.ss-sth {
  --aspect-ratio: ;
}
.ss-sth::before {
  content: "\e066";
}
.ss-sth.ss-border::after {
  content: "\e067";
}
.ss-sth.ss-inner::marker {
  content: "\f8ff";
}
.ss-exo {
  --aspect-ratio: ;
}
.ss-exo::before {
  content: "\e069";
}
.ss-exo.ss-border::after {
  content: "\e06a";
}
.ss-exo.ss-inner::marker {
  content: "\f8ff";
}
.ss-p02 {
  --aspect-ratio: ;
}
.ss-p02::before {
  content: "\e06c";
}
.ss-p02.ss-border::after {
  content: "\e06d";
}
.ss-p02.ss-inner::marker {
  content: "\f8ff";
}
.ss-ugl {
  --aspect-ratio: ;
}
.ss-ugl::before {
  content: "\e06f";
}
.ss-ugl.ss-border::after {
  content: "\e070";
}
.ss-ugl.ss-inner::marker {
  content: "\f8ff";
}
.ss-palp {
  --aspect-ratio: ;
}
.ss-palp::before {
  content: "\e072";
}
.ss-palp.ss-border::after {
  content: "\e073";
}
.ss-palp.ss-inner::marker {
  content: "\f8ff";
}
.ss-papac::before {
  content: "\e072";
}
.ss-papac.ss-border::after {
  content: "\e073";
}
.ss-papac.ss-inner::marker {
  content: "\f8ff";
}
.ss-usg {
  --aspect-ratio: ;
}
.ss-usg::before {
  content: "\e075";
}
.ss-usg.ss-border::after {
  content: "\e076";
}
.ss-usg.ss-inner::marker {
  content: "\f8ff";
}
.ss-ath {
  --aspect-ratio: ;
}
.ss-ath::before {
  content: "\e078";
}
.ss-ath.ss-border::after {
  content: "\e079";
}
.ss-ath.ss-inner::marker {
  content: "\f8ff";
}
.ss-ulg {
  --aspect-ratio: ;
}
.ss-ulg::before {
  content: "\e07b";
}
.ss-ulg.ss-border::after {
  content: "\e07c";
}
.ss-ulg.ss-inner::marker {
  content: "\f8ff";
}
.ss-6ed {
  --aspect-ratio: ;
}
.ss-6ed::before {
  content: "\e07e";
}
.ss-6ed.ss-border::after {
  content: "\e07f";
}
.ss-6ed.ss-inner::marker {
  content: "\f8ff";
}
.ss-uds {
  --aspect-ratio: ;
}
.ss-uds::before {
  content: "\e081";
}
.ss-uds.ss-border::after {
  content: "\e082";
}
.ss-uds.ss-inner::marker {
  content: "\f8ff";
}
.ss-s99 {
  --aspect-ratio: ;
}
.ss-s99::before {
  content: "\e084";
}
.ss-s99.ss-border::after {
  content: "\e085";
}
.ss-s99.ss-inner::marker {
  content: "\f8ff";
}
.ss-ptk {
  --aspect-ratio: ;
}
.ss-ptk::before {
  content: "\e087";
}
.ss-ptk.ss-border::after {
  content: "\e088";
}
.ss-ptk.ss-inner::marker {
  content: "\f8ff";
}
.ss-p3k::before {
  content: "\e087";
}
.ss-p3k.ss-border::after {
  content: "\e088";
}
.ss-p3k.ss-inner::marker {
  content: "\f8ff";
}
.ss-pgru {
  --aspect-ratio: ;
}
.ss-pgru::before {
  content: "\e08a";
}
.ss-pgru.ss-border::after {
  content: "\e08b";
}
.ss-pgru.ss-inner::marker {
  content: "\f8ff";
}
.ss-mmq {
  --aspect-ratio: ;
}
.ss-mmq::before {
  content: "\e08d";
}
.ss-mmq.ss-border::after {
  content: "\e08e";
}
.ss-mmq.ss-inner::marker {
  content: "\e08f";
}
.ss-brb {
  --aspect-ratio: ;
}
.ss-brb::before {
  content: "\e090";
}
.ss-brb.ss-border::after {
  content: "\e091";
}
.ss-brb.ss-inner::marker {
  content: "\f8ff";
}
.ss-fnm {
  --aspect-ratio: ;
}
.ss-fnm::before {
  content: "\e093";
}
.ss-fnm.ss-border::after {
  content: "\e094";
}
.ss-fnm.ss-inner::marker {
  content: "\e095";
}
.ss-pal00 {
  --aspect-ratio: ;
}
.ss-pal00::before {
  content: "\e096";
}
.ss-pal00.ss-border::after {
  content: "\e097";
}
.ss-pal00.ss-inner::marker {
  content: "\f8ff";
}
.ss-pelp {
  --aspect-ratio: ;
}
.ss-pelp::before {
  content: "\e099";
}
.ss-pelp.ss-border::after {
  content: "\e09a";
}
.ss-pelp.ss-inner::marker {
  content: "\f8ff";
}
.ss-peuro::before {
  content: "\e099";
}
.ss-peuro.ss-border::after {
  content: "\e09a";
}
.ss-peuro.ss-inner::marker {
  content: "\f8ff";
}
.ss-nem {
  --aspect-ratio: ;
}
.ss-nem::before {
  content: "\e09c";
}
.ss-nem.ss-border::after {
  content: "\e09d";
}
.ss-nem.ss-inner::marker {
  content: "\f8ff";
}
.ss-nms::before {
  content: "\e09c";
}
.ss-nms.ss-border::after {
  content: "\e09d";
}
.ss-nms.ss-inner::marker {
  content: "\f8ff";
}
.ss-s00 {
  --aspect-ratio: ;
}
.ss-s00::before {
  content: "\e09f";
}
.ss-s00.ss-border::after {
  content: "\e0a0";
}
.ss-s00.ss-inner::marker {
  content: "\f8ff";
}
.ss-pcy {
  --aspect-ratio: ;
}
.ss-pcy::before {
  content: "\e0a2";
}
.ss-pcy.ss-border::after {
  content: "\e0a3";
}
.ss-pcy.ss-inner::marker {
  content: "\e0a4";
}
.ss-btd {
  --aspect-ratio: ;
}
.ss-btd::before {
  content: "\e0a5";
}
.ss-btd.ss-border::after {
  content: "\e0a6";
}
.ss-btd.ss-inner::marker {
  content: "\f8ff";
}
.ss-inv {
  --aspect-ratio: ;
}
.ss-inv::before {
  content: "\e0a8";
}
.ss-inv.ss-border::after {
  content: "\e0a9";
}
.ss-inv.ss-inner::marker {
  content: "\f8ff";
}
.ss-mpr {
  --aspect-ratio: ;
}
.ss-mpr::before {
  content: "\e0ab";
}
.ss-mpr.ss-border::after {
  content: "\e0ac";
}
.ss-mpr.ss-inner::marker {
  content: "\f8ff";
}
.ss-pls {
  --aspect-ratio: ;
}
.ss-pls::before {
  content: "\e0ae";
}
.ss-pls.ss-border::after {
  content: "\e0af";
}
.ss-pls.ss-inner::marker {
  content: "\f8ff";
}
.ss-7ed {
  --aspect-ratio: ;
}
.ss-7ed::before {
  content: "\e0b1";
}
.ss-7ed.ss-border::after {
  content: "\e0b2";
}
.ss-7ed.ss-inner::marker {
  content: "\f8ff";
}
.ss-apc {
  --aspect-ratio: ;
}
.ss-apc::before {
  content: "\e0b4";
}
.ss-apc.ss-border::after {
  content: "\e0b5";
}
.ss-apc.ss-inner::marker {
  content: "\f8ff";
}
.ss-psdg {
  --aspect-ratio: ;
}
.ss-psdg::before {
  content: "\e0b7";
}
.ss-psdg.ss-border::after {
  content: "\e0b8";
}
.ss-psdg.ss-inner::marker {
  content: "\f8ff";
}
.ss-psega::before {
  content: "\e0b7";
}
.ss-psega.ss-border::after {
  content: "\e0b8";
}
.ss-psega.ss-inner::marker {
  content: "\f8ff";
}
.ss-ody {
  --aspect-ratio: ;
}
.ss-ody::before {
  content: "\e0ba";
}
.ss-ody.ss-border::after {
  content: "\e0bb";
}
.ss-ody.ss-inner::marker {
  content: "\f8ff";
}
.ss-dkm {
  --aspect-ratio: ;
}
.ss-dkm::before {
  content: "\e0bd";
}
.ss-dkm.ss-border::after {
  content: "\e0be";
}
.ss-dkm.ss-inner::marker {
  content: "\f8ff";
}
.ss-tor {
  --aspect-ratio: ;
}
.ss-tor::before {
  content: "\e0c0";
}
.ss-tor.ss-border::after {
  content: "\e0c1";
}
.ss-tor.ss-inner::marker {
  content: "\f8ff";
}
.ss-jud {
  --aspect-ratio: ;
}
.ss-jud::before {
  content: "\e0c3";
}
.ss-jud.ss-border::after {
  content: "\e0c4";
}
.ss-jud.ss-inner::marker {
  content: "\f8ff";
}
.ss-prm {
  --aspect-ratio: ;
}
.ss-prm::before {
  content: "\e0c6";
}
.ss-prm.ss-border::after {
  content: "\e0c7";
}
.ss-prm.ss-inner::marker {
  content: "\f8ff";
}
.ss-ons {
  --aspect-ratio: ;
}
.ss-ons::before {
  content: "\e0c9";
}
.ss-ons.ss-border::after {
  content: "\e0ca";
}
.ss-ons.ss-inner::marker {
  content: "\f8ff";
}
.ss-lgn {
  --aspect-ratio: ;
}
.ss-lgn::before {
  content: "\e0cc";
}
.ss-lgn.ss-border::after {
  content: "\e0cd";
}
.ss-lgn.ss-inner::marker {
  content: "\f8ff";
}
.ss-scg {
  --aspect-ratio: ;
}
.ss-scg::before {
  content: "\e0cf";
}
.ss-scg.ss-border::after {
  content: "\e0d0";
}
.ss-scg.ss-inner::marker {
  content: "\f8ff";
}
.ss-8ed {
  --aspect-ratio: 0.9583;
}
.ss-8ed::before {
  content: "\e0d2";
}
.ss-8ed.ss-border::after {
  content: "\e0d3";
}
.ss-8ed.ss-inner::marker {
  content: "\f8ff";
}
.ss-mrd {
  --aspect-ratio: 1.3958;
}
.ss-mrd::before {
  content: "\e0d5";
}
.ss-mrd.ss-border::after {
  content: "\e0d6";
}
.ss-mrd.ss-inner::marker {
  content: "\f8ff";
}
.ss-8edalt {
  --aspect-ratio: 0.9583;
}
.ss-8edalt::before {
  content: "\f8e7";
}
.ss-8edalt.ss-border::after {
  content: "\f8ff";
}
.ss-8edalt.ss-inner::marker {
  content: "\f8ff";
}
.ss-4eda {
  --aspect-ratio: ;
}
.ss-4eda::before {
  content: "\f8f6";
}
.ss-4eda.ss-border::after {
  content: "\f8f5";
}
.ss-4eda.ss-inner::marker {
  content: "\f8ff";
}
.ss-legchr {
  --aspect-ratio: ;
}
.ss-legchr::before {
  content: "\f8f4";
}
.ss-legchr.ss-border::after {
  content: "\f8f3";
}
.ss-legchr.ss-inner::marker {
  content: "\f8ff";
}
.ss-leg2::before {
  content: "\f8f4";
}
.ss-leg2.ss-border::after {
  content: "\f8f3";
}
.ss-leg2.ss-inner::marker {
  content: "\f8ff";
}
.ss-pgc98 {
  --aspect-ratio: ;
}
.ss-pgc98::before {
  content: "\f8f2";
}
.ss-pgc98.ss-border::after {
  content: "\f8f1";
}
.ss-pgc98.ss-inner::marker {
  content: "\f8ff";
}
.ss-po {
  --aspect-ratio: ;
}
.ss-po::before {
  content: "\f8f0";
}
.ss-po.ss-border::after {
  content: "\f8ef";
}
.ss-po.ss-inner::marker {
  content: "\f8ee";
}
.ss-por2::before {
  content: "\f8f0";
}
.ss-por2.ss-border::after {
  content: "\f8ef";
}
.ss-por2.ss-inner::marker {
  content: "\f8ee";
}
.ss-wl {
  --aspect-ratio: ;
}
.ss-wl::before {
  content: "\f8ed";
}
.ss-wl.ss-border::after {
  content: "\f8ec";
}
.ss-wl.ss-inner::marker {
  content: "\f8ff";
}
.ss-wth2::before {
  content: "\f8ed";
}
.ss-wth2.ss-border::after {
  content: "\f8ec";
}
.ss-wth2.ss-inner::marker {
  content: "\f8ff";
}
.ss-brbalt {
  --aspect-ratio: ;
}
.ss-brbalt::before {
  content: "\f8eb";
}
.ss-brbalt.ss-border::after {
  content: "\f8ea";
}
.ss-brbalt.ss-inner::marker {
  content: "\f8ff";
}
.ss-s00alt {
  --aspect-ratio: ;
}
.ss-s00alt::before {
  content: "\f8e9";
}
.ss-s00alt.ss-border::after {
  content: "\f8e8";
}
.ss-s00alt.ss-inner::marker {
  content: "\f8ff";
}
.ss.ss-border::after {
  color: var(--ss-border);
  position: absolute;
  left: 0;
}
.ss.ss-border.ss-rarity-common-alt::after, .ss.ss-border.ss-rarity-uncommon::after, .ss.ss-border.ss-rarity-rare::after, .ss.ss-border.ss-rarity-mythic::after, .ss.ss-border.ss-rarity-foil::after, .ss.ss-border.ss-border-black::after {
  color: var(--ss-border-contrast);
}
.ss.ss-border-white {
  --ss-border: #fff !important;
}
.ss.ss-inner {
  display: list-item;
  list-style-position: inside;
}
.ss.ss-inner::before {
  position: absolute;
  left: 0;
}
.ss.ss-inner::marker {
  color: var(--ss-inner);
}
.ss.ss-inner::before, .ss.ss-inner::after, .ss.ss-inner::marker {
  left: 50%;
  transform: translateX(-50%);
}
.ss.ss-rarity-common {
  --ss-rarity: #131417;
}
.ss.ss-rarity-common.ss-rarity-gradient::before {
  --ss-rarity-bg:
      linear-gradient(
          90deg,
          #131417 0%,
          #131417 50%,
          #131417 100%);
  --ss-rarity: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ss.ss-rarity-common-alt {
  --ss-rarity: #fff;
}
.ss.ss-rarity-common-alt.ss-rarity-gradient::before {
  --ss-rarity-bg:
      linear-gradient(
          90deg,
           0%,
           50%,
           100%);
  --ss-rarity: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ss.ss-rarity-uncommon {
  --ss-rarity: #707883;
}
.ss.ss-rarity-uncommon.ss-rarity-gradient::before {
  --ss-rarity-bg:
      linear-gradient(
          90deg,
          #4d6572 0%,
          #c3dfeb 50%,
          #4d6572 100%);
  --ss-rarity: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ss.ss-rarity-rare {
  --ss-rarity: #a48a37;
}
.ss.ss-rarity-rare.ss-rarity-gradient::before {
  --ss-rarity-bg:
      linear-gradient(
          90deg,
          #7f6f43 0%,
          #d9c287 50%,
          #7f6f43 100%);
  --ss-rarity: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ss.ss-rarity-mythic {
  --ss-rarity: #d9640f;
}
.ss.ss-rarity-mythic.ss-rarity-gradient::before {
  --ss-rarity-bg:
      linear-gradient(
          90deg,
          #c2381a 0%,
          #f59700 50%,
          #c2381a 100%);
  --ss-rarity: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ss.ss-rarity-foil {
  --ss-rarity: #00afc9;
}
.ss.ss-rarity-foil.ss-rarity-gradient::before {
  --ss-rarity-bg:
      linear-gradient(
          135deg,
          #ea8d66 0%,
          #ea8d66 15%,
          #fdef8a 28%,
          #8bcc93 42%,
          #a6dced 55%,
          #6f75aa 68%,
          #e599c2 84%,
          #e599c2 100%);
  --ss-rarity: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ss.ss-fw {
  width: 1.75em;
  display: list-item;
  list-style-position: inside;
  text-align: center;
}
.ss.ss-fw:not(.ss-inner) {
  list-style: none;
}
.ss.ss-fw.ss-border:not(.ss-inner)::after {
  left: 50%;
  transform: translateX(-50%);
}
.ss.ss-uw {
  align-items: center;
  display: inline-flex;
  height: 1em;
  width: 1em;
}
.ss.ss-uw::before, .ss.ss-uw::after {
  font-size: calc(1em / var(--aspect-ratio));
}
.ss.ss-white::before, .ss.ss-white::after, .ss.ss-white::marker {
  color: #fff;
}

.svg {
  background-color: var(--ss-border);
  mask-repeat: no-repeat;
  mask-position: 50% 0;
  width: 84px;
  height: 48px;
  display: block;
  position: relative;
  display: block;
}
.svg::before, .svg::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  mask-repeat: no-repeat;
  mask-position: 50% 0;
}
.svg::before {
  background-color: var(--ss-rarity);
}
.svg::after {
  background-color: var(--ss-inner);
}
.svg.ss-pcy {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 48 48'%3E%3Cpath d='M44.01 33.54a8.57 8.57 0 0 1 2.72 2.03A4.7 4.7 0 0 1 48 38.63c0 1.69-.9 2.62-1.9 3.1-.5.25-1.51.43-1.67.44-.57.08-6.37.8-9.19.1-2.56-.64-6.12-.34-10.26.82-4.8 1.36-7.63-.27-11.3-1.24-2.68-.71-5.03-.6-6.95-.52-1.53.08-2.83.12-3.89-.11a2.46 2.46 0 0 1-2.02-2.33 2.96 2.96 0 0 1 1.54-2.66c.84-.52 2.42-.92 5.55-.76L0 22.2l3.11-7.51 8.58 1.62 4.04 6.46.01-10.04L25.8 4.39l10.7 9.03-.62 12.19 2.8-2.82 7.64-.12.66 7.29-2.97 3.58Z'/%3E%3C/svg%3E%0A");
}
.svg.ss-pcy::before {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 48 48'%3E%3Cpath d='m10.25 36.27-8.47-14.2L4.1 16.5l6.62 1.25 6.62 10.58.01-14.85 8.45-7 9.07 7.65-.8 15.57 5.3-5.33 5.5-.08.47 5.16-4.16 5s.62 0 1.54.28c1.46.46 3.7 2.1 3.7 3.9 0 1.81-2.16 1.96-2.16 1.96s-5.85.83-8.62.13c-2.77-.7-6.61-.42-11.08.84-4.46 1.25-7.06-.35-10.46-1.26-4.78-1.26-8.56-.13-10.9-.64-.94-.2-1.12-1.38 0-2.07.9-.54 2.72-.79 6.75-.35 0 0 .46-.83.3-.97Zm21.84-20.75-2.3-2.09L28.4 33.2s.3 2.65 2.62 2.1l1.07-19.78Zm5.08 17.26 1.08 1.12 4.31-4.73-.08-2.1-5.3 5.71ZM9.32 20.74l-2.92-.48 7.38 12.8s2.62 1.4 2.31-1.39L9.32 20.74Z'/%3E%3C/svg%3E%0A");
}
.svg.ss-pcy::after {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 48 48'%3E%3Cpath d='m37.17 32.78 5.31-5.7.08 2.09-4.3 4.73-1.09-1.12ZM9.32 20.74l6.77 10.93c.3 2.79-2.3 1.4-2.3 1.4l-7.4-12.81 2.93.48Zm22.77-5.22L31.02 35.3c-2.31.56-2.62-2.09-2.62-2.09l1.39-19.77 2.3 2.1Z'/%3E%3C/svg%3E%0A");
}

@-moz-document url-prefix() {
  .ss-fnm::before, .ss-pfnm::before {
    margin-left: -0.4%;
  }
  .ss-7ed::before, .ss-7e::before {
    margin-left: 0.5%;
  }
  .ss-ody::before, .ss-od::before {
    margin-left: -1.3%;
  }
}
.ss-8ed:not(.ss-border):not(.ss-inner)::before {
  content: "\f8e7";
}
.ss-8ed.ss-rarity-common.ss-border::after {
  --ss-border: var(--ss-border-contrast);
}
.ss-8ed.ss-rarity-common.ss-inner::marker {
  --ss-inner: #fff;
}
.ss-8ed.ss-rarity-uncommon.ss-inner::marker, .ss-8ed.ss-rarity-rare.ss-inner::marker, .ss-8ed.ss-rarity-mythic.ss-inner::marker, .ss-8ed.ss-rarity-foil.ss-inner::marker {
  --ss-inner: var(--ss-border-contrast);
}

@supports (-webkit-hyphens: none) {
  .ss.ss-inner {
    list-style: none !important;
    background-repeat: no-repeat;
    background-position: 50% 22.4375%;
  }
  .ss.ss-inner::before {
    position: revert !important;
  }
  .ss.ss-inner.ss-mmq {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2' viewBox='0 0 39 48' fill='white'%3E%3Cpath d='M30.17 28.47h-1.9c-.4 0-1.36-.1-2.37-.27.26-.25.54-.5.84-.75a4.9 4.9 0 0 1 3-1.25c.95 0 1.77.39 2.25.93.2.22.36.46.35.71v.01c0 .16-.17.24-.37.33-.43.2-1.02.3-1.8.3Zm-19.39 0h-1.9c-.77 0-1.37-.09-1.8-.29-.2-.09-.36-.17-.37-.34 0-.24.15-.48.35-.71.49-.54 1.3-.93 2.25-.93a4.9 4.9 0 0 1 3 1.25c.3.24.59.5.84.75-1 .18-1.96.27-2.37.27Zm8.9-8.52h-.31c-4.49.01-7.74-.38-10.22-.88-.06 0 .34-.42.63-.71 0 0 3.74-3.73 9.6-3.73h.15c5.86 0 9.62 3.73 9.62 3.73.28.28.7.75.62.77-2.46.46-5.76.82-10.1.82Z'/%3E%3C/svg%3E");
  }
  .ss.ss-inner.ss-pcy {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 48 48' fill='white'%3E%3Cpath d='m37.17 32.78 5.31-5.7.08 2.09-4.3 4.73-1.09-1.12ZM9.32 20.74l6.77 10.93c.3 2.79-2.3 1.4-2.3 1.4l-7.4-12.81 2.93.48Zm22.77-5.22L31.02 35.3c-2.31.56-2.62-2.09-2.62-2.09l1.39-19.77 2.3 2.1Z'/%3E%3C/svg%3E");
  }
}

/*# sourceMappingURL=keyrune.css.map */
