// firefox specific fixes
@-moz-document url-prefix() {
    .#{$keyrune-prefix} {
        // fnm's weird offset
        &-fnm::before,
        &-pfnm::before {
            margin-left: -0.4%;
        }
        // 7ed offset
        &-7ed::before,
        &-7e::before {
            margin-left: 0.5%;
        }
        // ody huge offset?
        &-ody::before,
        &-od::before {
            margin-left: -1.3%;
        }
    }
}

// set specific corrections
//
// 8ed alt
.#{$keyrune-prefix}-8ed {

    // if there's no border or inner, show the alternative version
    &:not(.#{$keyrune-prefix}-border):not(.#{$keyrune-prefix}-inner) {
        &::before {
            content: "\f8e7";
        }
    }

    // common: border is always black and inner is always white
    &.#{$keyrune-prefix}-rarity-common {
        &.#{$keyrune-prefix}-border::after {
            --ss-border: var(--ss-border-contrast);
        }
        &.#{$keyrune-prefix}-inner::marker {
            --ss-inner: #fff;
        }
    }

    // uncommon, rare, mythic is black border and black inner
    &.#{$keyrune-prefix}-rarity-uncommon,
    &.#{$keyrune-prefix}-rarity-rare,
    &.#{$keyrune-prefix}-rarity-mythic,
    &.#{$keyrune-prefix}-rarity-foil {
        &.#{$keyrune-prefix}-inner::marker {
            --ss-inner: var(--ss-border-contrast);
        }
    }
}
