@use    "sass:map";

:root {
    --ss-border:          #{map.get($keyrune-colors, "white")};
    --ss-border-contrast: #{map.get($keyrune-colors, "black", "700")};
    --ss-inner:           #{map.get($keyrune-colors, "white")};
    --ss-rarity:          #{map.get($keyrune-colors, "black", "700")};
    --ss-rarity-bg:       transparent;

    &[data-mode='dark'] {
        --ss-border:          #{map.get($keyrune-colors, "black", "100")};
        --ss-border-contrast: #{map.get($keyrune-colors, "black", "900")};
        --ss-rarity:          #{map.get($keyrune-colors, "black", "900")};
        --ss-inner:           #{map.get($keyrune-colors, "white")};
    }
}