// core
$keyrune-font-family:        "keyrune" !default;
$keyrune-font-path:          "../font" !default;
$keyrune-prefix:             "ss" !default;
$keyrune-version:            "4.0.94" !default;

// build options
$keyrune-include-aliases:    true;
$keyrune-include-everything: false;

//
$keyrune-colors: (
    "black": (
        "100": "#ddd",
        "300": "#3a3a3a", // old "#4e4d4b",
        "500": "#202124", // old "#393735",
        "700": "#131417", // old "#282828",
        "900": "#000",
    ),
    "white": "#fff",
);

// rarity colors
$keyrune-rarities: (
    "common": (
        "solid": "#131417",
        "left": "#131417",
        "center": "#131417",
        "right": "#131417",
    ),
    "common-alt": (
        "solid": "#fff",
    ),
    "uncommon": (
        "solid": "#707883",
        "left": "#4d6572",
        "center": "#c3dfeb",
        "right": "#4d6572",
    ),
    "rare": (
        "solid": "#a48a37", //"#b7a066", // try this: #c5a86f
        "left": "#7f6f43",
        "center": "#d9c287",
        "right": "#7f6f43",
    ),
    "mythic": (
        "solid": "#d9640f", // "#e85627" (lighter but red), //"#e54424" (bit redder), //"#bf4427" (too dark),
        "left": "#c2381a", //"#ac392e",
        "center": "#f59700", //"#eb9d3d",
        "right": "#c2381a", //"#ac392e",
    )
);

// set symbols
$keyrune-sets: (
    lea: (
        rarity: "\e000",
        border: "\e001",
        inner: "\e002",
    ),
    leb: (
        rarity: "\e003",
        border: "\e004",
        inner: "\e005",
    ),
    2ed: (
        rarity: "\e006",
        border: "\e007",
        inner: "\e008",
    ),
    ced: (
        rarity: "\e009",
        border: "\e00a",
        inner: "\e00b",
    ),
    cei: (
        rarity: "\e00c",
        border: "\e00d",
        inner: "\e00e",
    ),
    arn: (
        rarity: "\e00f",
        border: "\e010",
        inner: "\e011",
        ratio: 1.75,
    ),
    atq: (
        rarity: "\e012",
        border: "\e013",
        inner: "\f8ff", // empty
        ratio: 1.029,
    ),
    3ed: (
        rarity: "\e015",
        border: "\e016",
        inner: "\e017",
    ),
    fbb: (
        rarity: "\e018",
        border: "\e019",
        inner: "\e01a",
    ),
    leg: (
        rarity: "\e01b",
        border: "\e01c",
        inner: "\e01d",
    ),
    sum: (
        rarity: "\e01e",
        border: "\e01f",
        inner: "\f8ff", // empty
    ),
    pdrc: (
        rarity: "\e021",
        border: "\e022",
        inner: "\f8ff", // empty
    ),
    drk: (
        rarity: "\e024",
        border: "\e025",
        inner: "\f8ff", // empty
    ),
    phpr: (
        rarity: "\e027",
        border: "\e028",
        inner: "\f8ff", // empty
    ),
    fem: (
        rarity: "\e02a",
        border: "\e02b",
        inner: "\f8ff", // empty
    ),
    pmei: (
        rarity: "\e02d",
        border: "\e02e",
        inner: "\f8ff", // empty
    ),
    pmtg: (
        rarity: "\e030",
        border: "\e031",
        inner: "\f8ff", // empty
    ),
    4ed: (
        rarity: "\e033",
        border: "\e034",
        inner: "\f8ff", // empty
    ),
    4bb: (
        rarity: "\e036",
        border: "\e037",
        inner: "\f8ff", // empty
    ),
    ice: (
        rarity: "\e039",
        border: "\e03a",
        inner: "\e03b",
    ),
    chr: (
        rarity: "\e03c",
        border: "\e03d",
        inner: "\f8ff", // empty
    ),
    ren: (
        rarity: "\e03f",
        border: "\e040",
        inner: "\f8ff", // empty
    ),
    rin: (
        rarity: "\e042",
        border: "\e043",
        inner: "\f8ff", // empty
    ),
    hml: (
        rarity: "\e045",
        border: "\e046",
        inner: "\e047",
    ),
    all: (
        rarity: "\e048",
        border: "\e049",
        inner: "\e04a",
    ),
    mir: (
        rarity: "\e04b",
        border: "\e04c",
        inner: "\f8ff", // empty
    ),
    itp: (
        rarity: "\e04e",
        border: "\e04f",
        inner: "\f8ff", // empty
    ),
    vis: (
        rarity: "\e051",
        border: "\e052",
        inner: "\e053", // empty
    ),
    5ed: (
        rarity: "\e054",
        border: "\e055",
        inner: "\f8ff", // empty
    ),
    past: (
        rarity: "\e057",
        border: "\e058",
        inner: "\f8ff", // empty
    ),
    por: (
        rarity: "\e05a",
        border: "\e05b",
        inner: "\e05c",
    ),
    pvan: (
        rarity: "\e05d",
        border: "\e05e",
        inner: "\f8ff", // empty
    ),
    wth: (
        rarity: "\e060",
        border: "\e061",
        inner: "\e062",
    ),
    tmp: (
        rarity: "\e063",
        border: "\e064",
        inner: "\f8ff", // empty
    ),
    sth: (
        rarity: "\e066",
        border: "\e067",
        inner: "\f8ff", // empty
    ),
    exo: (
        rarity: "\e069",
        border: "\e06a",
        inner: "\f8ff", // empty
    ),
    p02: (
        rarity: "\e06c",
        border: "\e06d",
        inner: "\f8ff", // empty
    ),
    ugl: (
        rarity: "\e06f",
        border: "\e070",
        inner: "\f8ff", // empty
    ),
    palp: (
        rarity: "\e072",
        border: "\e073",
        inner: "\f8ff", // empty
    ),
    usg: (
        rarity: "\e075",
        border: "\e076",
        inner: "\f8ff", // empty
    ),
    ath: (
        rarity: "\e078",
        border: "\e079",
        inner: "\f8ff", // empty
    ),
    ulg: (
        rarity: "\e07b",
        border: "\e07c",
        inner: "\f8ff", // empty
    ),
    6ed: (
        rarity: "\e07e",
        border: "\e07f",
        inner: "\f8ff", // empty
    ),
    uds: (
        rarity: "\e081",
        border: "\e082",
        inner: "\f8ff", // empty
    ),
    s99: (
        rarity: "\e084",
        border: "\e085",
        inner: "\f8ff", // empty
    ),
    ptk: (
        rarity: "\e087",
        border: "\e088",
        inner: "\f8ff", // empty
    ),
    pgru: (
        rarity: "\e08a",
        border: "\e08b",
        inner: "\f8ff", // empty
    ),
    mmq: (
        rarity: "\e08d",
        border: "\e08e",
        inner: "\e08f",
        inner_svg: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2' viewBox='0 0 39 48' fill='white'%3E%3Cpath d='M30.17 28.47h-1.9c-.4 0-1.36-.1-2.37-.27.26-.25.54-.5.84-.75a4.9 4.9 0 0 1 3-1.25c.95 0 1.77.39 2.25.93.2.22.36.46.35.71v.01c0 .16-.17.24-.37.33-.43.2-1.02.3-1.8.3Zm-19.39 0h-1.9c-.77 0-1.37-.09-1.8-.29-.2-.09-.36-.17-.37-.34 0-.24.15-.48.35-.71.49-.54 1.3-.93 2.25-.93a4.9 4.9 0 0 1 3 1.25c.3.24.59.5.84.75-1 .18-1.96.27-2.37.27Zm8.9-8.52h-.31c-4.49.01-7.74-.38-10.22-.88-.06 0 .34-.42.63-.71 0 0 3.74-3.73 9.6-3.73h.15c5.86 0 9.62 3.73 9.62 3.73.28.28.7.75.62.77-2.46.46-5.76.82-10.1.82Z'/%3E%3C/svg%3E",
    ),
    brb: (
        rarity: "\e090",
        border: "\e091",
        inner: "\f8ff", // empty
    ),
    fnm: (
        rarity: "\e093",
        border: "\e094",
        inner: "\e095",
    ),
    pal00: (
        rarity: "\e096",
        border: "\e097",
        inner: "\f8ff", // empty
    ),
    pelp: (
        rarity: "\e099",
        border: "\e09a",
        inner: "\f8ff", // empty
    ),
    nem: (
        rarity: "\e09c",
        border: "\e09d",
        inner: "\f8ff", // empty
    ),
    s00: (
        rarity: "\e09f",
        border: "\e0a0",
        inner: "\f8ff", // empty
    ),
    pcy: (
        rarity: "\e0a2",
        border: "\e0a3",
        inner: "\e0a4",
        inner_svg: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 48 48' fill='white'%3E%3Cpath d='m37.17 32.78 5.31-5.7.08 2.09-4.3 4.73-1.09-1.12ZM9.32 20.74l6.77 10.93c.3 2.79-2.3 1.4-2.3 1.4l-7.4-12.81 2.93.48Zm22.77-5.22L31.02 35.3c-2.31.56-2.62-2.09-2.62-2.09l1.39-19.77 2.3 2.1Z'/%3E%3C/svg%3E",
    ),
    btd: (
        rarity: "\e0a5",
        border: "\e0a6",
        inner: "\f8ff", // empty
    ),
    inv: (
        rarity: "\e0a8",
        border: "\e0a9",
        inner: "\f8ff", // empty
    ),
    mpr: (
        rarity: "\e0ab",
        border: "\e0ac",
        inner: "\f8ff", // empty
    ),
    pls: (
        rarity: "\e0ae",
        border: "\e0af",
        inner: "\f8ff", // empty
    ),
    7ed: (
        rarity: "\e0b1",
        border: "\e0b2",
        inner: "\f8ff", // empty
    ),
    apc: (
        rarity: "\e0b4",
        border: "\e0b5",
        inner: "\f8ff", // empty
    ),
    psdg: (
        rarity: "\e0b7",
        border: "\e0b8",
        inner: "\f8ff", // empty
    ),
    ody: (
        rarity: "\e0ba",
        border: "\e0bb",
        inner: "\f8ff", // empty
    ),
    dkm: (
        rarity: "\e0bd",
        border: "\e0be",
        inner: "\f8ff", // empty
    ),
    tor: (
        rarity: "\e0c0",
        border: "\e0c1",
        inner: "\f8ff", // empty
    ),
    jud: (
        rarity: "\e0c3",
        border: "\e0c4",
        inner: "\f8ff", // empty
    ),
    prm: (
        rarity: "\e0c6",
        border: "\e0c7",
        inner: "\f8ff", // empty
    ),
    ons: (
        rarity: "\e0c9",
        border: "\e0ca",
        inner: "\f8ff", // empty
    ),
    lgn: (
        rarity: "\e0cc",
        border: "\e0cd",
        inner: "\f8ff", // empty
    ),
    scg: (
        rarity: "\e0cf",
        border: "\e0d0",
        inner: "\f8ff", // empty
    ),
    8ed: (
        rarity: "\e0d2",
        border: "\e0d3",
        inner: "\f8ff", // empty
        ratio: 0.9583,
    ),
    mrd: (
        rarity: "\e0d5",
        border: "\e0d6",
        inner: "\f8ff", // empty
        ratio: 1.3958,
    ),
    //
    // backwards from the end for alternatives/oddities
    8edalt: (
        rarity: "\f8e7",
        border: "\f8ff", // empty
        inner: "\f8ff", // empty
        ratio: 0.9583,
    ),
    4eda: (
        rarity: "\f8f6",
        border: "\f8f5",
        inner: "\f8ff", // em
    ),
    legchr: (
        rarity: "\f8f4",
        border: "\f8f3",
        inner: "\f8ff", // em
    ),
    pgc98: (
        rarity: "\f8f2",
        border: "\f8f1",
        inner: "\f8ff", // em
    ),
    po: (
        rarity: "\f8f0",
        border: "\f8ef",
        inner: "\f8ee",
    ),
    wl: (
        rarity: "\f8ed",
        border: "\f8ec",
        inner: "\f8ff", // empty
    ),
    brbalt: (
        rarity: "\f8eb",
        border: "\f8ea",
        inner: "\f8ff", // empty
    ),
    s00alt: (
        rarity: "\f8e9",
        border: "\f8e8",
        inner: "\f8ff", // empty
    ),
);
